[2015-09-11 16:15] alinefm commented on #729
Fixed by 4f4c4fc81e266bdab98e907d2be90b6f1d190307

[2015-09-11 16:15] #729 closed

[2015-09-11 16:16] alinefm commented on #730
Hi @kgolic

Could you update your source code and verify if this problem was fixed by 4f4c4fc81e266bdab98e907d2be90b6f1d190307 ?

[2015-09-11 17:57] sureshab commented on #728
Hi Ramon,
As explained in the email, i would be working on this issue, also adding additional s390 architecture specific information. Please let me know if you have any concerns.
Patch will be submitted once gingerbase is merged into wok, just to avoid duplication since the host basic information is moving to gingerbase plugin.

[2015-09-11 19:03] alinefm commented on #727
Fixed by 7d40ff42248e6352343eb703f5d054596afca3cb

[2015-09-11 19:03] #727 closed

[2015-09-11 19:53] kgolic commented on #730
@alinefm: this issue appears to be fixed after updating my source code to your recommendation.  thanks!

[2015-09-11 19:54] alinefm commented on #730
Duplicated of #729

[2015-09-11 19:54] #730 closed

[2015-09-12 23:07] daniel-k opened #733 "Kimchi doesn't allow for proxying to URL like ip:port/arbitrary/path/"
Hi,

I now spent some time trying to get Kimchi redirected to a different path than `/`. While I was not able to disable SSL, I understand that this might be intended. But I couldn't find out why it actually didn't work. I always got redirected to the login page after a success login.

Now that SSL is still enabled, this config nearly works:
[code]
The issue is with the VNC/Spice console that [thi

[2015-09-15 17:42] pvital commented on #731
Patch-set sen to ML: http://lists.ovirt.org/pipermail/kimchi-devel/2015-September/011506.html

[2015-09-15 20:19] pvital opened #734 "test_model_storagevolume.StorageVolumeTests is failling on Fedora 22"
The test case test_model_storagevolume.StorageVolumeTests is failling on Fedora 22. I also tested it in a Debian 8 box and it's working as expected.

[code]

From test-case source code, we can see above the block where it fails, a mention to a Fedora's bugzilla on libvirt, which was closed on March 2013.

[2015-09-18 16:32] #731 closed

[2015-09-21 15:31] alinefm commented on #609
I am not able to reproduce it on Ubuntu 15.04.
I will close this bug.

[2015-09-21 15:31] #609 closed

[2015-09-21 15:34] alinefm commented on #613
I could not reproduce that. I am closing the issue by now.

[2015-09-21 15:34] #613 closed

[2015-09-21 15:37] alinefm commented on #632
Closing due inactivity and as no one else could reproduce it.
Please, reopen if needed.

[2015-09-21 15:37] #632 closed

[2015-09-21 15:40] alinefm commented on #636
@jcapik Were you able to confirm that issue on Fedora 22?

[2015-09-21 15:44] alinefm commented on #640
Just a correction: we don't have plans to have a centralized interface to manage multiple Kimchi instances.
We've already had the federation features which can list the Kimchi peers in the same network but each Kimchi instance has it own interface.
We have plans to extend the peers management, so user can manually add/remove peers from other sub-networks.

[2015-09-21 15:44] #640 closed

[2015-09-21 15:47] alinefm commented on #649
Closing based on last comment.

[2015-09-21 15:47] #649 closed

[2015-09-21 15:59] jcapik commented on #636
The host is currently running F22 and the issue is still present.

Jaromir.

[2015-09-21 16:02] alinefm commented on #678
Hi @abhiramkulkarni
How many storage volumes you have in your iSCSI pool?
The volumes in an iSCSI pool are the iSCSI targets that need to be in the iSCSI server configuration prior to their utilization on Kimchi.
You can also request: GET /storagepools/<iscsi-pool-name>/storagevolumes to get the storage volumes in the pool.
Please, let us know on any update on that.

[2015-09-21 16:04] alinefm commented on #676
Hi @abhiramkulkarni!
Did you follow the instructions on README regarding on how setup the NFS server?
https://github.com/kimchi-project/kimchi/blob/master/docs/README.md#known-issues

Seems the NFS server has read-only permission and so you will not be able to add/remove anything from there.

[2015-09-21 16:29] jcapik commented on #636
After installing the latest F22 updates, the issue is gone.

[2015-09-21 16:58] alinefm commented on #636
Closing based on last comment.

[2015-09-21 16:58] #636 closed

[2015-09-21 19:01] alinefm commented on #681
Hi @pawankg

1) The REST API methods are not related on what the application does in the system but how the action acts in the resource.
The DELETE method is to delete the resource from its collection. When calling this method in a logical pool it is deleted from the storage pools collection and also from libvirt point of view.

2) There is a feature request in our backlog related to create a logi

[2015-09-21 19:01] #681 closed

[2015-09-21 19:39] alinefm commented on #683
Hi @rahulmr
In which logs are you seeing those errors?

The binary /usr/bin/kvm-spice is part of qemu-kvm package.

alinefm@alinefm-ThinkPad-T440:~$ sudo dpkg -S /usr/bin/kvm-spice
qemu-kvm: /usr/bin/kvm-spice

[2015-09-21 20:46] alinefm commented on #689
Fixed by 2f3ffd852813cc8b280a4b960a56c5fefad0b9e0

[2015-09-21 20:46] #689 closed

[2015-09-21 20:52] alinefm commented on #696
This issue is duplicated of https://github.com/kimchi-project/kimchi/issues/355

[2015-09-21 20:52] #696 closed

[2015-09-22 06:25] abhiramkulkarni opened #735 "Installation of kimchi failed in wok latest code."
I downloaded the kimchi-wok today and tried to install the same. Ended up with failure.

Steps followed
1)make uninstall
2)make clean
3)./autogen.sh --system
4)make
5)make insall fails

[root@abhiram kimchi]# make install
Making install in src
make[1]: Entering directory '/root/PycharmProjects/kimchi/src'
make  install-recursive
make[2]: Entering directory '/root/PycharmProjects/kimchi/src'
Making

[2015-09-22 06:26] abhiramkulkarni commented on #735
After making changes to Makefile.am it works fine.

Below are the changes
[root@abhiram kimchi]# git diff Makefile.am
diff --git a/Makefile.am b/Makefile.am
index c7914d0..fb35cd1 100644
--- a/Makefile.am
+++ b/Makefile.am
@@ -69,6 +69,7 @@ all-local:

 install-deb: install
        cp -R $(top_srcdir)/contrib/DEBIAN $(DESTDIR)/
+       mkdir -p $(DESTDIR)/var/lib/wok
        touch $(DESTDIR)/var/l

[2015-09-22 06:26] abhiramkulkarni commented on #735
Sure Aline,  Will send to mailing list from next time.

Yeah you are right, some changes were made in last week which has induced this problem.
After making changes to Makefile.am it works fine.

Below are the changes
[root@abhiram kimchi]# git diff Makefile.am
diff --git a/Makefile.am b/Makefile.am
index c7914d0..fb35cd1 100644
--- a/Makefile.am
+++ b/Makefile.am
@@ -69,6 +69,7 @@ all-local:

 in

[2015-09-22 13:26] pvital commented on #735
@abhiramkulkarni please follow the steps in https://github.com/kimchi-project/kimchi/wiki/How-to-Contribute and submit your patch to the mailing list.

Curiosity: what's your host distribution?

[2015-09-23 20:07] laggarcia commented on #715
This is a libvirt issue with the update-device command. You need to start using a newer version of libvirt. I have libvirt 1.2.14 and I am not seeing this issue anymore (might work with previous versions as well).

[2015-09-24 18:33] ramonmedeiros commented on #493
I just run make check on RHEL 7.1 with HEAD: 19ded0b98b5d9a149bb1efdbb62331bad9869843 and did not reproduced it.

[2015-09-29 11:11] jrziviani opened #736 "deb package for Ubuntu > 15.04 doesn't work"
Ubuntu has replaced the init system to systemd, so the current service is not working.

root@ubuntu:~# systemctl status kimchid.service
● kimchid.service - LSB: Start the kimchid daemon
   Loaded: loaded (/etc/init.d/kimchid)
   Active: failed (Result: exit-code) since Tue 2015-09-29 07:07:36 EDT; 6s ago
     Docs: man:systemd-sysv-generator(8)
  Process: 27747 ExecStart=/etc/init.d/kimchid start

[2015-09-29 14:32] pvital commented on #704
Resent Atreyee <atreyee@linux.vnet.ibm.com>'s patch to ML.
[Kimchi-devel] [PATCH] Issue #704: page refreshing in Wok when no plugins installed

[2015-09-29 15:49] ramonmedeiros commented on #695
Hi,

i just added another disk in my VM and tried to delete it. At UI, i did not received any error, but by api, i've got this:

ramonn@jarvis:~$ curl -u root  -H "Content-Type: application/json" -H "Accept: application/json" "http://localhost:8010/vms/debian8/storages/hdd" -X DELETE -d '{}'
Enter host password for user 'root':
{
  "reason":"KCHVMSTOR0011E: Do not support IDE device hot plug",
  "

[2015-09-29 18:45] laggarcia commented on #695
@ramonmedeiros, IDE disks doesn't support hot plug/unplug. You need to test with virtio or SCSI disks, for instance.

[2015-09-29 18:46] abhiramkulkarni commented on #678
I get your point, Aline. Only when volumes are preconfigured in iscsi server configuration it will be able to list. We can drop this issue .

[2015-09-29 18:51] abhiramkulkarni commented on #676
Tried reproducing the issue assiging the correct permissions to nfs mount path. Did not see this issue.
Closing for now.

[2015-09-29 18:51] #676 closed

[2015-09-29 18:55] abhiramkulkarni commented on #676
Tried reproducing the issue assiging the correct permissions to nfs mount path. Did not see this issue.
Closing for now.

[2015-09-29 18:57] abhiramkulkarni commented on #735
Sure @pvital  . If these changes are not there in latest master branch , then i will send the patch.

I am on fedora 21
[Abhiram86@abhiram wok]$ uname -a
Linux abhiram 4.0.7-200.fc21.x86_64 #1 SMP Mon Jun 29 22:11:52 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
[Abhiram86@abhiram wok]$

[2015-09-29 19:12] pvital commented on #735
@abhiramkulkarni make sure you have the new code in master branch. @alinefm merged yesterday the next and wok branches into master and now this one has Wok and Kimchi.

Just to make sure, the default build process now to have Wok and Kimchi working is the following:

# To build Kimchi
You need to repeat those steps for each plugin your have in your  source code

    $ cd plugins/kimchi
    $ sudo

[2015-09-30 13:35] ramonmedeiros commented on #655
Running on Fedora 21, HEAD f8a5bb5ce92ea13bc6de13e2e095ba86be76a6a3 , the error is different:

======================================================================
FAIL: test_storagevolume_action (test_model_storagevolume.StorageVolumeTests)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "test_model_storagevolume.py", line 269, in

[2015-10-05 01:00] jrziviani commented on #736
I couln't make it works even after creating the package from a 15.04 system. I sent a patch to the list "Configure deb package to use systemd service if needed" to address it.

[2015-10-05 15:24] alinefm commented on #714
Fixed by e2c6b8c8d8927f95c901119a7b0307d2fcb1d7e4

[2015-10-05 15:24] #714 closed

[2015-10-05 15:31] archu-s opened #737 "Wok base framework calls resource model's lookup twice"
Base framework calls resource lookup before performing authorization check, and also after successful authorization.
Ideally resource model's lookup should be called only after successful authorization of user.

[2015-10-05 16:15] alinefm commented on #736
Fixed by 20fd822d0ebd097ec79c33548debac57ffd88a0c

[2015-10-05 16:15] #736 closed

[2015-10-06 18:46] chandrureddy opened #738 "kimchi/model/storagepools.py pointing to iso directory '/var/lib/kimchi/isos'"
$ grep -irn "/var/lib/kimchi/isos" *
kimchi/docs/README.md:207:pool (default path is: /var/lib/kimchi/isos).
kimchi/model/storagepools.py:82:            pools['ISO'] = {'path': '/var/lib/kimchi/isos'}

Due to which I guess failing to start wokd:
[root@ bin]# sudo /usr/bin/wokd  --host=0.0.0.0
WARNING: no 'numpy' module, HyBi protocol will be slower
libvirt: Storage Driver error : cannot open path

[2015-10-06 18:52] chandrureddy commented on #738
In my new patch I am trying to accommodate these changes.

[2015-10-06 20:36] pvital commented on #738
@chandrureddy actually we will keep this path ('/var/lib/kimchi/isos') due to compatibility with older Kimchi versions. This issue was introduced when the code was split between Wok and Kimchi.

I sent a RFC to create a script to update all necessary paths when a user tries to upgrade from Kimchi to Wok+Kimchi.

[2015-10-07 07:26] chandrureddy commented on #738
On the other hand we have to make sure storagepool.py should not crib in case of fresh installation where we do not create path '/var/lib/kimchi/isos' (If I am correct here).

To summarize:
With the fresh installation considering folder '/var/lib/kimchi/isos' not exists/created during the installation,  storagepool.py should not throw error similar to below.
Fatal: Unable to craete storage pool IS

[2015-10-07 12:48] pvital commented on #738
@chandrureddy you are right regarding fresh installation. The point is that, for what I remember, we decided to maintain the path '/var/lib/kimchi/isos' even for fresh installations. @alinefm, can  you confirm this?

My suggestion is do not change the path  '/var/lib/kimchi/isos' to  '/var/lib/wok/plugins/kimchi/isos', but create a patch that guarantee we are keeping the value '/var/lib/kimchi/iso

[2015-10-07 12:58] alinefm commented on #738
Hi @chandrureddy! Hi @pvital!
As commented on ML, it is better to keep using "/var/lib/kimchi" path to keep compatibility with older Kimchi versions.
So if there is any code that points to a different path than "/var/lib/kimchi" we need to fix it.

[2015-10-08 18:02] chandrureddy commented on #738
In this case src/wok/plugins/kimchi/Makefile.am has to be fixed which been changed recently.

[2015-10-08 19:05] lcorreia commented on #738
@alinefm @pvital @chandrureddy I'm working on this.

[2015-10-09 01:34] lcorreia commented on #738
@alinefm @pvital @chandrureddy I'm working on this.

[2015-10-12 14:55] archu-s commented on #737
In case of GET lookup was called twice.
Once lookup() before is_authorized() and then in self.get(). This added overhead to system when lookup() is called for each value in list from get_list() of Collection.
So to avoid this overhead, lookup() should not be called before self.get(). And hence it make sense to call lookup() from get(), update(), delete().

And as is_authorized() used self.info, wh

[2015-10-12 17:25] archu-s opened #739 "Get list of resources for approx 2500+ resources it was timing out when the backend command gives list of lines where each line is one resource"
Considering that to get the list of each resource identifiers and to get info for each resource, there is just one single command(which return lines where each line has info for one resource), and 2500+ resources are present.

For e.g. lscss in system z gives output like
    Device   Subchan.  DevType CU Type Use  PIM PAM POM  CHPIDs
    ------------------------------------------------------------

[2015-10-12 17:37] archu-s commented on #739
In case where a single command gives full resource info, this can be avoided, with below suggested way:

While looping through command output in get_list() just compose list of dict where each dict will have info for each resource and return the list of dict which has all info of the resource(instead of list of resource identifiers).
And while doing looping through the get_list output(), each entr

[2015-10-13 18:45] pvital opened #740 "Wok compilation fails after commit 86d19a0"
After the commit 86d19a0 the compilation process is failing. The output of make command is:

[code]
.

[2015-10-13 22:04] lcorreia commented on #738
Sent 2 patches today to move files back to kimchi tree, including an object store split between Wok and Kimchi.

[2015-10-15 00:11] ellie-gar opened #741 "./autogen.sh --system fails: configure: error: cannot run /bin/sh build-aux/config.sub"
When running ./autogen.sh --system, its fails and displays the following error:
**configure: error: cannot run /bin/sh build-aux/config.sub**

**System: CentOS 7  kernel 3.10.0-229.11.1.el7**

 ./autogen.sh --system
configure.ac:44: warning: macro 'AM_GNU_GETTEXT' not found in library
configure.ac:45: warning: macro 'AM_GNU_GETTEXT_VERSION' not found in library
configure.ac:44: error: required fil

[2015-10-15 05:56] abhiramkulkarni commented on #735
Non reproducible with latest release. Closing the defect.

[2015-10-15 05:56] #735 closed

[2015-10-15 09:54] pkulkark opened #742 "Wokd service failing to start"
Wokd service is failing to start after installation of wok framework, kimchi and ginger plugins. Steps followed:
1. Clone kimchi code
2. Install wok, kimchi and ginger plugins
3. Start wokd service using either `service wokd start` or `systemctl start wokd.service`

The following output is observed:
[code]

[2015-10-15 12:08] alinefm commented on #742
Hi @pkulkark! Please, make sure you have OpenSans fonts installed in your system and also do a fresh build before starting the service (make clean && ./autogen --system && make)

[2015-10-15 13:30] pvital commented on #741
I'm going to download CentOS 7 and see what's going on.

[2015-10-16 23:35] ellie-gar commented on #741
Silly me, the answer was right there.

**configure.ac:44: 'automake --add-missing' can install 'config.guess'**
**configure.ac:44: 'automake --add-missing' can install 'config.sub'**

automake --add-missing resolves the issue

[2015-10-16 23:35] #741 closed

[2015-10-20 10:54] abhiramkulkarni commented on #739
On Mon, 2015-10-12 at 10:37 -0700, Archana Singh wrote:

I agree that this improvement needs to be done. Below proposed
overriding code changes in individual control files are working great
for me in network use case and saves significant time.

In order to incorporate these changes directly in base.py, having flag
is good so that default behaviour/existing calls will not be affected.
Flag(bulk_li

[2015-10-22 11:14] #738 closed

[2015-10-22 11:15] #740 closed

[2015-10-22 11:16] #742 closed

[2015-10-22 11:24] alinefm commented on #728
Hi @sureshab!
I tagged this issue as a feature as Kimchi does not has properly support for Z systems.
Please, let me know if you are going to do that for Kimchi 2.0, so I can properly set the milestone.

[2015-10-22 11:27] alinefm commented on #724
Fixed by 729bd5789945ba092e1aeac1df63414e69ab6804

[2015-10-22 11:27] #724 closed

[2015-10-22 12:49] alinefm commented on #719
The build process and README files were updated to depend on open-sans-fonts package.
The font files are being exposed by the web server.
I don't think the UI specification must be done to reflect it, so I am closing this bug.

Commit that expose openSans font files to web server: 5389b7152e49371d32a59c0fca50ce35a4862c8b

[2015-10-22 12:49] #719 closed

[2015-10-22 12:51] alinefm commented on #726
Fixed by 1884b4dc

[2015-10-22 12:51] #726 closed

[2015-10-22 13:02] alinefm commented on #717
Hi @sureshab!

As you said, it is the same issue reported on #556
Please, reuse/update existing issues instead of open a duplicated one.

[2015-10-22 13:02] #717 closed

[2015-10-22 13:32] alinefm commented on #716
It is already fixed and it is also duplicated of #682 #684 #685

[2015-10-22 13:32] #716 closed

[2015-10-22 13:34] alinefm commented on #713
@liucougar Ubuntu 15.04 (the version tested by the Kimchi community) already uses systemd.

@harche On which Ubuntu version did you get this problem?

I am running wokd on Ubuntu 15.04 without problems.

[2015-10-22 13:37] alinefm commented on #712
Hi @J-F-Liu!

virt-viewer uses the console address configure in the guest XML.
To use virt-viewer you don't need to specific any address, you need to specific the guest name.
Example: virt-viewer <my-guest-name> and it will properly handle the console configure in the guest XML.

Hope it helps.

Let me know if we can close this issues.

[2015-10-22 15:39] alinefm commented on #711
Closing based on last comment.

[2015-10-22 15:39] #711 closed

[2015-10-22 15:39] #704 closed

[2015-10-22 15:59] alinefm commented on #710
Hi @emtie!
Kimchi uses spice-html5 project to handle the SPICE console. Maybe you need to update it on your server.

I can say it works on Ubuntu 15.04 with the following spice-html5 package:
alinefm@alinefm-Standard-PC-i440FX-PIIX-1996:~$ dpkg -s spice-html5
Package: spice-html5
Status: install ok installed
Priority: extra
Section: web
Installed-Size: 304
Maintainer: Ubuntu Developers <ubuntu-dev

[2015-10-22 17:21] alinefm commented on #709
I am moving this issue to ginger project as it is not related to Kimchi community.
Please, make any update on it: https://github.com/kimchi-project/ginger/issues/30

[2015-10-22 17:21] #709 closed

[2015-10-22 18:31] pvital commented on #703
Hello @archu-s

The first error is provided by libvirt and the second by qemu. Kimchi uses libvirt API to realize this kind of operation and only raises the errors provided by libvirt.

To confirm if the errors are provided by libvirt, please, try the same operation using virsh command. If it confirms, update this issue to be documented.

Regards.

[2015-10-22 19:45] pvital commented on #701
@archu-s, as similar to Issue #703 all errors are provided by libvirt (actually by qemu but addressed by libvirt). Kimchi uses libvirt API to realize this kind of operation and only raises the errors provided by libvirt.

To confirm if the errors are provided by libvirt, please, try the same operation using virsh command. If it confirms, update this issue to be documented.

Regards.

[2015-10-22 19:49] pvital commented on #699
@archu-s, please provide the full API command line used to test this scenario.

[2015-10-26 09:23] sureshab commented on #728
Hi @alinefm!
sure, please add this feature as part kimchi 2.0 milestones.

[2015-10-26 14:12] harche commented on #713
@alinefm Ubuntu 14.04

[2015-10-26 14:19] alinefm commented on #713
@harche Kimchi community usually tests Kimchi in the latest version, ie, Ubuntu 15.04
But any patch is more than welcome to have Kimchi working as expected on Ubuntu 14.04

[2015-10-26 15:11] usernameisalreadytaken2014 commented on #394
My use case is that I can create a template "Windows machine", "Splunk instance", et cetera that is properly sized, has storage in the right locations, point to the right ISOs etc.

And another person can then take that template and apply it to create a new virtual machine, without knowing a lot about the internals of the hypervisor machine where Kimchi is running, such as appropriate storage loca

[2015-10-26 15:26] usernameisalreadytaken2014 commented on #388
Linux 3, but unsure of the minor version since it is on auto-upgrade.

The problem seems to have gone away.

(I removed Nginx and replaced it with Varnish to make it easy to do everything on port 443.  That may be related to why the zombies processes disappeared, not sure..)

Please close, I'll open a new case if it pops up again...

[2015-10-26 18:09] pvital opened #743 "gingerbase: fail to create RPM."
While executing the following commands, I got a failure when trying to create the gingerbase RPM.

[code]

[2015-10-27 13:37] chandrureddy commented on #743
working on the issue.

[2015-10-27 18:41] chandrureddy commented on #743
I was able to fix the issue. Will do more testing and send a patch upstream.

[2015-10-27 23:47] danielhb opened #744 "gingerbase: objectstore issues with new project clone"
I came very close to create a tag 'Annoying' just to put in this bug.

Wok+kimchi+gingerbase don't run after a fresh clone. Here's the steps I've taken:

- fresh clone repo
- cd to src/wok/plugins/gingerbase
- ./autogen.sh --system && make
- cd to src/wok/plugins/kimchi
- ./autogen.sh --system && make
- cd to wok/project root
- ./autogen.sh --system && make

Then trying to run wokd:

$ sudo src/wo

[2015-10-27 23:50] danielhb commented on #744
Resetting the tree to the pre-gingerbase status ( commit 570719e7aed0265e949cf3d9b6d049700938102d )  will make wok launch:

$ sudo src/wokd --environment=dev
Plugin configuration file /home/danielhb/kimchi-reset/kimchi/src/wok/plugins/ginger/ginger.conf doesn't exist.
Plugin configuration file /home/danielhb/kimchi-reset/kimchi/src/wok/plugins/ginger/ginger.conf doesn't exist.
Failed to import plu

[2015-10-28 13:15] chandrureddy commented on #744
Daniel quick suggestion:
Please try running both autogen and make commands using sudo and see if this could change.

[2015-10-28 14:28] danielhb commented on #744
@chandrureddy  I've tried that and unfortunately the bug persisted:

$ sudo src/wokd --environment=dev
Failed to import plugin plugins.ginger.Ginger
Failed to import plugin plugins.kimchi.KimchiRoot
Traceback (most recent call last):
  File "src/wokd", line 101, in <module>
    sys.exit(main(sys.argv[1:]))
  File "src/wokd", line 98, in main
    wok.server.main(options)
  File "/home/danielhb/kimc

[2015-10-28 17:11] chandrureddy commented on #744
Hi Daniel,
I guess I know the problem here.
Basically one the following directory structure is missing during the plug in installation.
/var/lib/kimchi

I would like to send a mail for the opinion on the directory structure and will fix the issue.

[2015-10-29 20:33] danielhb opened #745 "[WoK] Make the error message of import failure more detailed"
When running Wok and its plug-ins for the first time it's somewhat common to forget about an import or required package. At this moment, the only message WoK provides about it is:

Failed to import plugin plugins.kimchi.KimchiRoot

and/or

Failed to import plugin plugins.ginger.Ginger

and/or

Failed to import plugin plugins.gingerbase.GingerBase

These messages provide absolute nothing to inform

[2015-10-30 05:47] #713 closed

[2015-10-30 14:47] alinefm opened #746 "New navigation bar"
As we have agreed in the ML, a new navigation bar will be implemented for Kimchi 2.0
It consists in 2 level tabs: one tab represents the plugin (plugin tab) and the 2nd level tabs for the plugin tabs (functional tabs).

![1716678b41c402ea](https://cloud.githubusercontent.com/assets/4921718/10848292/63dd7a68-7f02-11e5-9e9e-8994700c3eb4.jpg)

To do that, we need to change the configuration in the ta

[2015-10-30 16:17] #745 closed

[2015-10-31 02:46] chosen010 opened #747 "No Plugins Currently Installed Message"
Went through the installation readme and wokd fires up but upon login with root, presented with the message that no plugins currently installed with links to kimchi and ginger that go back to the original readme.

[2015-10-31 11:59] chandrureddy commented on #747
Have installed the plugins along with wokd ?

Basically installing the code at the source code level (https://github.com/kimchi-project/kimchi) would install only wokd basica frame work.

Installing plug in kimchi try as per readme mentioned in bleow URL:
https://github.com/kimchi-project/kimchi/tree/master/src/wok/plugins/kimchi
1. install dependancies
2. follow build and install instructions
$ c

[2015-11-02 10:23] archu-s opened #748 "sosreport generation does not allow underscore in name"
URI: /plugins/gingerbase/model/debugreports
Action: Post
Post data: {"name": "debugreport_1"}
Output: Error "underscore not allowed in the debug report name."

Investigation:
#sosreport command generate report tar.gz by removing _
And existing upstream code search for file with pattern "sosreport-<name>*" at  /tmp or /var/tmp

Solution:
Parsed the output of sosreport to get the path and name of so

[2015-11-02 11:06] mesmriti opened #749 "Debug reports to support s390x platform"
Current upstream code just collects sosreport and tar is moved to /var/lib/kimchi/debugreports.
For s390x platform, dbginfo also need to be collected by running dbginfo.sh along with sosreport.
And final tar of sosreport and dbginfo should get collected and moved to /var/lib/kimchi/debugreports.

[2015-11-03 11:26] mcvax opened #750 "Suggested changes to installation instructions"
Hi,

Can I suggest a few changes to the installation instructions here: https://github.com/kimchi-project/kimchi

The instructions for installing the plugins lists this command:

    $ git clone --recursive https://github.com/kimchi-project/wok.git

But I think it should instead be:

    $ git clone --recursive https://github.com/kimchi-project/kimchi.git

The page also says to use the command:

[2015-11-03 11:45] mcvax commented on #747
I have the same problem running Centos 7.

I have:
1. Installed all dependencies listed here: https://github.com/kimchi-project/kimchi
2. Cloned the repository with plugins using git clone --recursive https://github.com/kimchi-project/kimchi.git
3. Built Wok using:
   $ ./autogen.sh --system
   $ make
   $ sudo make install
4. Gone into the /kimchi/src/wok/plugins/kimchi directory and run:
   $ ./

[2015-11-03 11:50] mcvax commented on #747
Just answered my own question.  python-magic now appears to be required.

Fixed by:

    yum python-magic

[2015-11-03 11:51] mcvax commented on #750
The dependencies also now appear to require python-magic

    yum python-magic

[2015-11-03 13:17] laggarcia commented on #749
I know this is not related to Kimchi/Ginger, but ideally I think dbginfo call should be included as a plugin to sosreport.

[2015-11-04 14:17] #743 closed

[2015-11-04 14:17] #744 closed

[2015-11-04 20:00] alinefm opened #751 "Unable to get guest memory utilization"
Kimchi is not able to get the right memory utilization for a running guest.
After a lot of testing on Ubuntu 15.04 and Fedora 22, Kimchi always returns 0%.

After some investigation I noticed Kimchi uses dom.memoryStats() API which does not return the expected values: available and unused.
On my tests it only returns, actual, swap and rss.
[code]

Seems the values for available and unused is only

[2015-11-05 13:24] pvital commented on #751
Fix submitted to ML.

[2015-11-05 19:39] #751 closed

[2015-11-05 20:16] abhiramkulkarni opened #752 "wok framework is masking the exception while loading json"
Issue : While experimenting operation on PUT request, i mistakenly passed wrong json body.
Error message was being shown by wok framework as
{
  "reason":"WOKAPI0006E: WOKAPI0006E",
  "code":"400 Bad Request"
}
Checked wok-error logs, no information was present.

On further debug found out that code is masking the exception and not logging it.
wok/control/utils.py in parse_request() method

Before

[2015-11-09 14:34] walterniklaus commented on #746
Aline,
based on your proposal above and our discussion on the color coding, here a short summary on what Atreyee will implement:
- use the same basic color for all functionalities of the plugin/1st level Tab
    - Host:              blue
    - Virtualization:  green
- have the active 2nd level Tab being marked by using a darker shade of blue for host and  a darker shade of green for Virtualization

[2015-11-13 00:44] Truja opened #753 "Kimchi is recording host maxMemory in guests templates"
Create a template and check the database:
sqlite> select * from objects where type = 'template';
fedora21.1447104980137|template|{"domain": "kvm", "cdrom_bus": "ide", "sound_model": "ich6", "mouse_bus": "ps2", "cpus": 1, "cpu_info": {}, "invalid": {}, "graphics": {"type": "vnc", "listen": "127.0.0.1"}, "cdrom": "/var/lib/kimchi/isos/Fedora-Live-Workstation-x86_64-21-5.iso", "arch": "x86_64", "netw

[2015-11-13 05:38] chandrureddy opened #754 "[Ginger Base] Debug report is not getting generated using new UI"
Debug report is not getting generated using new UI.
Click on "Generate" button is not triggering the Debug report or SoS report. Nothing is happenning.

[2015-11-13 05:48] chandrureddy opened #755 "[Ginger Base] Action's states are showing in correctly for Repositories"
Action's states are showing in correctly for Repositories. Couple of observations.
1. Repository is enabled but "Disable" item shown with out any symbol

Repository which enabled shows Enable instead of Disable:

![repository_no_disable_menu_for_repository_enabled](https://cloud.githubusercontent.com/assets/10830725/11139637/ead65116-89f7-11e5-9754-8319d0c1f034.jpg)

2. Repository which enabled ha

[2015-11-13 05:52] chandrureddy opened #756 "[Ginger Base] Update All with out any icon for Software updates"
Update All with out any icon for Software updates.
I also know from the design document that there is no icon for the button "Update all".

I recommend to have good icon here too.

[2015-11-13 11:04] chandrureddy opened #757 "clean generated css files when 'make clean' executed"
css file's re-generatoin after new changes to scss files.

Ideally generated css files like wok.css, bootstrap.custom.css and bootstrap-select.custom.css should have cleaned up in the folder ui/css at the wok level.
1. 'make clean' should clean files  wok.css, bootstrap.custom.css and bootstrap-select.custom.css so that running 'make' again will generate new files with the changes made

[2015-11-13 11:05] ramonmedeiros commented on #748
Hi,

i just opened a bug to take a look at this issue. RH says that RHEL 7.1 fixed this issue. Please, test it

[2015-11-13 23:20] TravisCHoward commented on #712
I think he's asking how we can use virt-viewer on a remote machine to connect to a guest. I am also having this issue. On a remove machine I've tried connecting to "spice://[the-IP]:5900" to no avail. I cannot find information anywhere. The built-in SPICE viewer is crap for Windows guests and I need to use virt-viewer remotely as my server is headless. What do I do?

[2015-11-14 12:25] automatikdonn commented on #733
You need to do a connection upgrade to get any websocket working in a nginx proxy.
proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

You can also specify a rule in nginx for a particular URL, and run a proxy statement against that.

[2015-11-16 09:57] J-F-Liu commented on #712
Yes, @TravisCHoward clarifies my question.

[2015-11-17 08:51] chandrureddy opened #758 "New UI shows Kimchi header section two times after session time out"
Steps to reproduce:
1. Log in to Kimchi and click on one of the tab
2. Leave for some time (possibly couple of hours) to get the session time out. Again I am not sure how much time session will keep remain.
3. Try clicking any of other tab than existing opened one.

You will see the following screen. Ideally Kimchi logo (header section) would have shown only once. First header section should not b

[2015-11-17 16:13] #757 closed

[2015-11-17 17:57] atreyeemukhopadhyay opened #759 "Host tab information not loading"
On clicking Host tab in gingerbase plugin,it display a blank page. No information is displayed. Browser console displayed error.
![host issue](https://cloud.githubusercontent.com/assets/13199397/11219810/9f239894-8d82-11e5-8e72-559a654f976b.png)

[2015-11-18 18:22] danielhb opened #760 "Removing kimchi/tests/utils.py, use tests/utils.py from WoK instead"
The files kimchi/tests/utils.py and tests/utils.py from WoK are basically the same. It contains helper functions to, for example, launch a cherrypy-server to do REST tests.

This type of usage isn't exclusive to Kimchi and other plug-ins such as Ginger might benefit from accessing these functions from WoK.

To do that we'll need to change the run_tests.sh.in file of Kimchi to include the path to t

[2015-11-18 19:33] ramonmedeiros opened #761 "Cannot create NFS storage pool by UI"
How to reproduce:

Try to create a NFS storage by UI. An error will be displayed.

Try to create the same by curl commands:

curl -u root  -H "Content-Type: application/json" -H "Accept: application/json" "http://localhost:8010/plugins/kimchi/storagepools" -X POST -d '{"name":"ramon, "type":"netfs", "source": {"host":"127.0.0.1", "path": "/mnt"}}'

It will run succesfull

[2015-11-19 13:31] #755 closed

[2015-11-19 16:48] samhenri opened #762 "Getting "net::ERR_CONTENT_LENGTH_MISMATCH" errors"
Hi.

I've been trying to run Kimchi outside my localhost to test it in IE 10 and Windows browsers and the login page keeps hanging until it renders but I'm still unable to login. In Chrome I got the following output in the dev tools. This wasn't happening until Monday and I'm wondering if anybody had the  same issue.
I did some research and this kind of error messages is usually related to proxy o

[2015-11-23 09:04] abhiramkulkarni opened #763 "Show proper error message when incorrect password is provided."
Given wrong password to curl command, no proper message shown

curl -u root -H "Content-Type: application/json" -H "Accept:application/json" -X PUT -d '{
    "BASIC_INFO": {"DEVICE": "eth0"
                 }}' "http://localhost:8010/plugins/ginger/network/cfginterfaces/eth0"
Enter host password for user 'root':
{
  "reason":"The server encountered an unexpected condition which prevented it from f

[2015-11-23 13:19] danielhb opened #764 "Update existing Ginger and Gingerbase objstores with 'Version' field"
After the patch set "Upgrade ObjectStore data to Kimchi-2.0" went upstream, existing Ginger objstore files fails to load with the following error:

[code]

The changes made in Kimchi object store must be done in Ginger and Gingerbase object stores as well.

[2015-11-23 14:50] danielhb commented on #760
Issue fixed after f28a30eca1d8c0c1b1befa03f4b6e62327b30207 went upstream

[2015-11-23 14:50] #760 closed

[2015-11-23 17:15] pvital commented on #764
@danielhb: please, tell me how exactly you are testing wok+ginger to get this error, because I could not see this issue when testing with upstream code (kimchi: f28a30e and ginger: 648366e).

[2015-11-23 19:57] #737 closed

[2015-11-24 06:37] chandrureddy opened #765 "GingerBase : Repositories section fail to load on Fedora 23"
GingerBase : Repositories section fail to load on Fedora 23

Environment:
[cpotula@localhost ~]$ uname -a
Linux localhost.localdomain 4.2.3-300.fc23.x86_64 #1 SMP Mon Oct 5 15:42:54 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Steps to reproduce:
1. install Kimchi WOK and install gingerbase
2. start wokd via 'systemctl start wokd'
3. Browse 'https://localhost:8001/#plugins/gingerbase/host' . Observer

[2015-11-24 13:23] danielhb commented on #764
I've noticed this error when trying to fix the task API for Ginger (https://github.com/kimchi-project/ginger/issues/37). There is also a patch set from @pkulkark  that presented the same error because she tried to use the Task api with the objstore.

To make it easier for you to debug it, I've created a simple .py file to cause the error:

[code]

Save it as 'objstore_bug.py' in ginger project roo

[2015-11-24 13:27] #746 closed

[2015-11-24 14:34] pvital commented on #764
@danielhb please, paste here the schema of this Ginger objectstore file. Do the follow:

[code]

[2015-11-24 14:47] danielhb commented on #764
[code]

[2015-11-24 15:12] pvital commented on #764
Ok, the problem is: the schema used to create the objectstore_ginger file is the old schema.
It's necessary do the same as I did to Kimchi objectstore file: check the schema and update it if necessary. Will work on the solution and send a patch!

@danielhb could you send me in private this file you have? Thanks!

[2015-11-24 17:15] danielhb commented on #764
@pvital I've sent both ginger and gingerbase objectstore files I have here

Let me know if you need any assistance in solving this.

[2015-11-25 10:08] danielhb commented on #764
Update: after @pkulkark saying that she couldn't reproduce the bug, I've tried to remove the existing objstore files and recreate them (make clean; ./autogen.sh --system; make). The issue seems solved.

This means that the issue apparently does not happen with new objestore files. Just with existing ones.

[2015-11-25 11:09] pvital commented on #764
@danielhb yeah! This happens because the schema of the objectstore files was changed from kimchi 1.5.1 to wok/kimchi 2.0 and when you don't have the objectstore file, a new one will be created with the new schema.

It's necessary develop a script to update the Ginger and GingerBase objectstore files if necessary, as same as I did for Kimchi file. When the plugin is loaded the update script is exec

[2015-11-25 12:24] alinefm opened #766 "/interfaces is not returning the correct data"
The eth0 interface in my system is not active but it is listed as it is by /interfaces:

alinefm@alinefm-ThinkPad-T440:~/mail-patches$ curl -u  <user>:<passwd> -H "Content-Type: application/json" -H "Accept: application/json" -k https://localhost:8001/plugins/kimchi/interfaces -X GET -d'{}'
[
  {
    "status":"active",
    "ipaddr":"",
    "netmask":"",
    "type":"nic",
    "name":"eth0"
  }
]

K

[2015-11-25 18:32] chandrureddy opened #767 "Kimchi : 'Add a Storage' in Storage tab looks odd"
Kimchi : 'Add a Storage' in Storage tab looks odd compared to other tabs where text is given White but in this case it is black.
![virtualbox_fedora 22_26_11_2015_00_00_43](https://cloud.githubusercontent.com/assets/10830725/11405928/eeed6d1a-93d0-11e5-9130-267a2c30d44b.png)

[2015-11-25 23:27] sstoppler opened #768 "Develop support to Live Migration in Kimchi"
Live migration needs to be implemented on Kimchi UI.

Initial patch was sent to ML with subject:  [Kimchi-devel] [PATCH] Live Migration UI Support.

TODO:
- Error-handling
- Text not in i18n
- Getting data from user input in UI to be passed in to backend

[2015-11-25 23:34] sstoppler commented on #690
This was fixed a while back.

[2015-11-25 23:34] #690 closed

[2015-11-26 17:22] chandrureddy opened #769 "kimchi dependancy update to gingerbase instead wok"
kimchi dependancy correction to gingerbase instead wok

Since now the gingerbase is default plugin and plugin kimchi have dependency on gingerbase (like on disks.py) , kimchi should point to gingerbase rather wok.

[2015-11-26 20:43] Truja opened #770 "Kimchi: [New UI] New template is not shown right after creation"
Run WOK with Kimchi
Go to Template tab and create a new one.
The "Create window" closes and the new template is note shown in the list.
User must click in another tab and back in order to see it.

[2015-11-26 20:44] Truja commented on #770
Same happens if you delete a template.
In other words, the template screen is not being updated

[2015-11-26 20:51] Truja opened #771 "Change name of Guest or Template returns error "Nothing matches the given URI""
There is problem when you update the name of a given Guest or Template.

The name is changed, bu the UI returns the error: Nothing matches the given URI
Also, the window does not close.

[2015-11-26 21:26] Truja opened #772 "Kimchi: [New UI] Template tab and Template edit window - Some problems"
Problem 1:
If you edit a Template and navegate thought tab you will notice that the "Graphics dropdown" has a different appearance comparing with other dropdown.

Problem 2:
When you go to Storage tab and click on the Format dropdown or Pool dropdown, the list is cut because of the size of the window. Window should be bigger or auto adjust itself.

Problem 3:
Yet in Storages tab, the "Storage Pool

[2015-11-26 21:50] Truja opened #773 "Kimchi: [New UI] Snapshot error message showed behind edit window"
1- Create a Guest with a disk in format RAW (not supported to create snapshot)
2- Edit the guest, go to snapshot tab, click on "Include"

The error message is showed in the Guest window, instead of the "Guest Edit window". It is not possible to read the message, except if you close the window really quickly.

[2015-11-26 21:56] Truja opened #774 "Kimchi: [New UI] Guest edit window buttons does not follow the standard"
If you edit the Guest and go over the tabs, you will notice that buttons like "Storage: Detach " , "Storage: Substitute" , "Interface: Edit", "Interface: Remove" does not look like other buttons.

[2015-11-26 22:03] Truja opened #775 "Kimchi: [New UI] Storage Volumes information is inverted"
Create a guest with a volume in Default pool, for instance.
Go to Storage Pool tab, and click in the expand button of the Default pool ( in order to see its volumes )

Notice that the volume information is wrongly showed, like:
qcow2 |     file |   196.0K    |10.0G
Format| Type | Allocation | Capacity

Seems that the header in below.

[2015-11-26 22:07] Truja opened #776 "Kimchi: [New UI] There is not "Filter" field in Guests and Templates tabs"
I only see the filter in Storage Pools and Network.
By the way, is works very well, we need it in other tabs

[2015-11-26 22:11] Truja opened #777 "Kimchi: [New UI] Network tab not being updated after exclude a network"
Create any network then exclude it ... it is not going to disappear, unless you reload or change tab.

[2015-11-26 22:29] Truja opened #778 "Kimchi: [New UI] Storage - "Add Volume" freezes screen"
Go to Storage Tab, choose a pool and click on Actions -> Add Volume
Click on "Upload a File" and choose any file in your file system.
Click on Add.

Browser screen is going to become whitish and frozen.

(I did not dig enough, but it is possible to have some problem in backend too)

[2015-11-27 00:47] laggarcia commented on #769
Is there a default plug-in now? I thought that wok could run without any plug-ins if needed. Not that wok alone would be very much useful, but maybe someone wants to create an application on top of it that doesn't have anything to do with Kimchi or Ginger, and that should be possible AFAIU.

[2015-11-27 16:10] chandrureddy opened #779 "Ginger Base : rpm creation failed on Fedora 22"
Ginger Base : rpm creation faileda on Fedora 22

chmod +x run_tests.sh
make[4]: Leaving directory '/home/chandra/kimchi/src/wok/plugins/gingerbase/rpm/BUILD/ginger-base-2.0.0/tests'
make[3]: Leaving directory '/home/chandra/kimchi/src/wok/plugins/gingerbase/rpm/BUILD/ginger-base-2.0.0/tests'
Making all in ui
make[3]: Entering directory '/home/chandra/kimchi/src/wok/plugins/gingerbase/rpm/BUILD/gin

[2015-11-30 13:01] jfdnet commented on #126
HI I just installed opensuse 42.1 but there is no automake & autoconf exit in repo

[2015-11-30 16:29] alinefm commented on #766
Fixed by b10d056daf0d65ef257e848d32798fc61b65b90d

[2015-11-30 16:29] #766 closed

[2015-11-30 19:20] ChadMac opened #780 "Install on Centos 7 fails at CherryPy"
Error is  : Package: kimchi-1.4.1-1.el7.centos.noarch (okay)
           Requires: python-cherrypy >= 3.2.0

Also installed CherryPy and installer still errors.

[2015-12-01 16:58] jrziviani opened #781 "Error to create a bridge network"
I was not able to create a bridge network due to the following error:
[code]
After a quick debug I saw the the network interface destination is not being received by the backend code:
[code]
[code]

[2015-12-01 18:30] jrziviani opened #782 "Error to create a dir type storage pool"
I'm not able to create a storage pool using a local directory. The error says "KCHPOOL0026E: Specify name and type to create a storage pool", but it's clearly specified according to the screenshot bellow:

![image](https://cloud.githubusercontent.com/assets/670087/11510025/a4db5346-9848-11e5-92c0-1e010f777917.png)

[2015-12-01 18:36] jrziviani opened #783 "Error message hidden by the modal window"
It is not possible to read the whole error message because a modal window is covering up the message.

![image](https://cloud.githubusercontent.com/assets/670087/11510108/15c0fe9e-9849-11e5-83f2-1a60f60e5901.png)

[2015-12-01 18:53] jrziviani opened #784 "Display a 'loading gif' when waiting for data"
I found a minor issue when running Kimchi remotely. Sometime it takes time to retrieve and render the content, during this time the content is displayed without any style, as the image shows:

![image](https://cloud.githubusercontent.com/assets/670087/11510516/3a53ac50-984b-11e5-8ba7-bae1a65d04e2.png)

My suggestion is to have a loading gif to display while the content is not ready yet.

[2015-12-01 19:58] jrziviani opened #785 "Impossible to create a template from an existing image"
The **Create** button is always disabled, thus I cannot create a new template based on an existing image.

![image](https://cloud.githubusercontent.com/assets/670087/11512140/e52b7290-9853-11e5-8e27-57024dbd1761.png)

[2015-12-02 13:15] jrziviani commented on #781
I'm working on it.

[2015-12-02 14:00] jrziviani commented on #782
I'm working on it.

[2015-12-02 14:00] jrziviani commented on #782
I'm working on it.

[2015-12-02 17:03] lcorreia commented on #765
as requested by @danielhb I am closing this issue and recreating it at gingerbase repo to work on it.

[2015-12-02 17:07] sstoppler commented on #785
I am working on this.

[2015-12-02 17:21] #765 closed

[2015-12-02 18:14] alinefm commented on #781
Fixed by 5a88a9539422a0e485a19f896f620add5e9f551f

[2015-12-02 18:14] #781 closed

[2015-12-02 19:36] Truja opened #786 "Kimchi: [New UI] Undefine button is enabled for active Storage pools"
Go to Storage Pool tab and click on Action button of some active pool.
Button UNDEFINE  will be enabled and is possible to click on it, which will return an error from backend: "Unable to delete active storage pool"

Old UI disables this button if the pool is active, avoiding a request that will always return an error.

Undefine should be enabled (or displayed) only if pool is deactivated.

[2015-12-02 22:13] alinefm commented on #782
Fixed by 34c70ca24d8075cf2e5bd383bf30a51b5e7dd859

[2015-12-02 22:13] #782 closed

[2015-12-02 22:22] alinefm commented on #785
Fixed by d1a951160456f9f03da538a5707910881d52f0d9

[2015-12-02 22:22] #785 closed

[2015-12-02 22:26] sstoppler commented on #786
I'm working on this.

[2015-12-03 13:25] alinefm commented on #780
Hi @ChadMac !
Did you install python-cherrypy >= 3.2.0?
Which version are you using?

[2015-12-03 14:01] mrflow commented on #780
Hi @alinefm,

same problem here on centos 7 with EPEL. There is only cherrypy 2.3.0 available as package (from EPEL):

[code]

[2015-12-03 14:05] alinefm commented on #779
This issue was properly moved to Ginger Base repository: https://github.com/kimchi-project/gingerbase/issues/4

[2015-12-03 14:05] #779 closed

[2015-12-03 14:06] alinefm commented on #769
Hi @laggarcia! You are correct! There is no default plugin linked to wok.

[2015-12-03 14:12] alinefm commented on #764
This issue was moved to Ginger repository: https://github.com/kimchi-project/ginger/issues/51

[2015-12-03 14:12] #764 closed

[2015-12-03 14:15] alinefm commented on #759
I've just verified and it is working properly on Ubuntu 15.10 and Fedora 23.
I am closing this issue by now.
Feel free to open a new one against Ginger Base if the problem persists to you (as the former Host tab is part of Ginger Base plugin)

[2015-12-03 14:15] #759 closed

[2015-12-03 14:17] alinefm commented on #756
This issue was moved to Ginger Base repository: https://github.com/kimchi-project/gingerbase/issues/5

[2015-12-03 14:17] #756 closed

[2015-12-03 14:23] alinefm commented on #754
It is working as indeed with the current code (last commit 299832ed895b532dec0847debeac4dfe354b1d5d)

I am closing this issue by now.
Feel free to one a new issue against Ginger Base repository if the problem persists to you.

[2015-12-03 14:23] #754 closed

[2015-12-03 14:27] alinefm commented on #749
This issue was moved to Ginger Base repository: https://github.com/kimchi-project/gingerbase/issues/6

[2015-12-03 14:27] #749 closed

[2015-12-03 14:27] JGjorgji commented on #780
I don't see cherrypy in the requirements page, are you using it only as a web server? If so maybe don't require it in the rpm?

I also can't seem to find the .spec file for the rpm, could you please provide that?

[2015-12-03 14:28] alinefm commented on #748
This issue was moved to Ginger Base repository: https://github.com/kimchi-project/gingerbase/issues/7

[2015-12-03 14:28] #748 closed

[2015-12-03 14:29] alinefm commented on #747
Closing this issue based on last comment

[2015-12-03 14:29] #747 closed

[2015-12-03 14:29] #734 closed

[2015-12-03 14:32] alinefm commented on #728
Fixed by d8445ce1

[2015-12-03 14:32] #728 closed

[2015-12-03 14:39] alinefm commented on #722
I am closing this issue as the images are now being displayed correctly.
I could not find the commit which fixed it.

[2015-12-03 14:39] #722 closed

[2015-12-03 14:45] alinefm commented on #721
Duplicated of #738

[2015-12-03 14:45] #721 closed

[2015-12-03 14:51] alinefm commented on #720
There are a lot of commits associated to this feature.
I will refer the last most important commit: 379ccff0815bf9842eb5aa47979ecc980e4a8b5c

[2015-12-03 14:51] #720 closed

[2015-12-03 16:05] alinefm commented on #780
Hi @mrflow,

Hrm... we should update the spec file to update that.
Usually, the Kimchi community do tests on Fedora23 and RHEL7.

I verified on EPEL repository and the only package found is that you pointed (https://dl.fedoraproject.org/pub/epel/7/x86_64/repoview/python-cherrypy2.html)

But I have a RHEL7.1 system which has the required package installed and seems it came from EPEL.

[root@rhel-vm

[2015-12-03 16:12] alinefm commented on #712
Hi @TravisCHoward ! Hi @J-F-Liu !

For security matters, while creating a guest using Kimchi, the guest console connection will point to localhost. That way, we force user to connect to Kimchi to have access to the guest console.
Otherwise, the user need to have access to the host system.

You can check the guest XML:
<graphics type='vnc' port='-1' autoport='yes' listen='127.0.0.1'>

So you need t

[2015-12-03 16:15] alinefm commented on #710
I am closing this issue due inactivity.
Please, reopen if the problem persists.

[2015-12-03 16:15] #710 closed

[2015-12-03 16:32] JGjorgji commented on #780
Ok so i think the problem is that it used to be in epel but it is now retired in the meantime since it's now provided by Redhat in RHEL 7.2 and not epel. We'll have to wait for Centos 7.2 to land, I'm building a newer version from the fedora srpm's to try in the meantime.

[2015-12-03 16:33] mrflow commented on #780
@alinefm and the rest:

@alinefm: seems like the packages does no longer have a maintainer for EL7:

The package is no longer hosted in EPEL [1], since it is included in RHEL 7.2. So most probably it will also be included in CentOS 7.2

1: https://admin.fedoraproject.org/pkgdb/package/python-cherrypy/

You can still manually install the latest build that was included in EPEL from here:

http://koj

[2015-12-03 17:01] alinefm commented on #708
This issue was moved to Wok repository: https://github.com/kimchi-project/wok/issues/3

[2015-12-03 17:01] #708 closed

[2015-12-03 17:03] alinefm commented on #707
This issue was moved to Wok repository https://github.com/kimchi-project/wok/issues/4

[2015-12-03 17:03] #707 closed

[2015-12-03 17:07] alinefm commented on #706
This issue was moved to Wok repository https://github.com/kimchi-project/wok/issues/5

[2015-12-03 17:07] #706 closed

[2015-12-03 17:09] alinefm commented on #705
I was able to reproduce it while running wok + ginger + kimchi.
On Guests tab, when I try to open the help page I got a blank window.

I am moving this issue to Wok repository: https://github.com/kimchi-project/wok/issues/6

[2015-12-03 17:09] #705 closed

[2015-12-03 17:19] alinefm commented on #686
Debug reports feature is now part of Ginger Base.
And this issue is already reported there: https://github.com/kimchi-project/gingerbase/issues/7

So I am closing this issue.

[2015-12-03 17:19] #686 closed

[2015-12-03 17:20] alinefm commented on #683
Closing this issue due inactivity.
Please, reopen if needed.

[2015-12-03 17:20] #683 closed

[2015-12-03 17:28] alinefm commented on #494
It does not make sense for the new UI style.
Closing it.

[2015-12-03 17:28] #494 closed

[2015-12-03 19:07] sstoppler commented on #786
Spec states it to be disabled when pool is active.  Is there a preference to disable the button or just hide it when pool is active and show it when pool is inactive?  Thanks.

[2015-12-03 22:08] sstoppler commented on #786
Went ahead and implemented according to spec.  Samuel also had to make some adjustments in css to make sure the background for disabled link is according to spec.  That patch has already been applied upstream.

[2015-12-04 17:20] ramonmedeiros opened #787 "Cannot add remote ISO"
How to reproduce:

1) Open template tab
2) Try to add new template
3) You won't be able to click em remote image

[2015-12-04 17:40] lcorreia opened #788 "Network information mismatch in template creation"
Distro: Fedora 23 x86_64

Steps to reproduce:
1) Create and start a new virtual network (other than "default")
2) Stop "default" virtual network
3) Create a new template from an ISO.
4) Try to edit the template: at Interfaces tab, it will show the new virtual network you created as "in place". Click Cancel without making any changes to it.
5) Try to create a guest from that template and you will g

[2015-12-05 02:52] sstoppler commented on #786
Patch sent out yesterday to ML for review.

[2015-12-05 03:19] sstoppler opened #789 "Guest disk: Allocate storage volume when attaching disk to vm"
The submitted patches (that suggested a new implementation in back-end) will not be applied since the solution will be addressed only by UI, doing two requests: (1) create a new storage volume; and (2) attach this volume in the VM being edited.

[2015-12-05 03:38] sstoppler opened #790 "Include option to specify max_vcpu and current_vcpu separately per guest in kimchi UI"
The idea is to allow user to change max cpu and current cpu.
Need to decide if allow in template edit window,  in guest edit window , or both.

[2015-12-05 03:48] sstoppler opened #791 "New UI for adding network bridges"
UI changes to reflect the new API options for Kimchi's "add network" scenario.

Network tab -> User clicks on add (+) button

Currently, there are 3 options in "Network Type": Isolated, NAT, Bridged (which as of now sets macvtap or bridges according to the destination chosen by user).

The API is changing for Kimchi 2.0: Bridged option will be split into
2 options:
- "Bridged" option will now be u

[2015-12-07 12:52] alinefm commented on #786
Fixed by e8dce5adc2064ef227e951fce2839a4ece114322

[2015-12-07 12:52] #786 closed

[2015-12-07 17:20] samhenri commented on #774
The buttons are following the design specs. The only difference from the mockups are the "Add" button in Storages (right now it opens a modal window, this will be changed in the next release) and the buttons labels and width:

Mockup:
![Mockup by Susan](http://imageshack.com/a/img905/4779/LxwBwr.png)

Current:
![Current](http://imageshack.com/a/img903/9274/OK1HCE.png)

Editing - Mockup:
![Mockup b

[2015-12-07 17:32] samhenri commented on #787
Hi,

Can you please specify the browser and distro?

I'm able to select it just fine. I'm running on Fedora 20, tested on Google Chrome 47, IE11 and Firefox 44a (Windows) and Firefox 38 (Linux).

![Remote ISO](http://imageshack.com/a/img905/3042/1Fx99Q.png)

I did found one bug with the form validation (clicking on "Provide a URL for a specific ISO image" should unselect all Images) and I'm going

[2015-12-07 17:50] samhenri opened #792 "Unable to list, add and edit templates"
I'm unable to view any template in Templates tab. This is the current output in Google Chrome:

```GET https://10.10.71.85:8001/plugins/kimchi/templates 500 (Internal Server Error)```

HTTP/1.1 500 Internal Server Error
Server: nginx/1.4.7
Date: Mon, 07 Dec 2015 17:46:15 GMT
Content-Type: application/json;charset=utf-8
Content-Length: 1724
Connection: keep-alive
Content-Security-Policy: default-sr

[2015-12-07 18:07] Truja commented on #792
Working on this

[2015-12-07 18:40] samhenri commented on #775
It was implemented following the design specs. The table view wasn't implemented because we don't support volume conversion to different formats yet so it doesn't make sense to make the volumes selectable, sortable or filtered.

BTW, I believe we have to discuss with the community the action button behavior because it looks like it is going to have the same issues we had with Repositories and Debu

[2015-12-07 18:42] samhenri commented on #783
Working on it.

[2015-12-07 18:43] samhenri commented on #784
Working on it. I'm going to add the "wok loading SVG" for now but for the next release I think we can try some sort of progress bar.

[2015-12-07 18:44] samhenri commented on #777
Working on it.

[2015-12-07 18:50] samhenri commented on #773
Working on it.

[2015-12-07 19:15] Truja commented on #792
I just did the following test and was *not able* to reproduce the problem:

- Installed package kimchi-1.5.1-3.fc24.noarch and started.
- Opened Kimchi in a clean/private Firefox window
- Created two templates and modified their values (add cpu, more memory, etc)
- Closed Firefox and stopped Kimchi
- Updated and rebuild (distclean/autogen.sh/make) my Kimchi and Wok upstream local trees (master bra

[2015-12-07 19:15] samhenri commented on #767
Patch sent to ML. It was fixed with the new _navbar-flat.scss and new set of _wok-variables.scss in the Media Queries. I'm creating a v2 once I'm able to test Templates (Issue #792).

[2015-12-07 19:17] samhenri commented on #758
I believe this issue was somehow "fixed" with the new navigation bar, but now it make my browser tab hang until it crashes. I'm able to reproduce the same behavior if I try to open a modal window after after a session time out.

[2015-12-07 20:40] Truja commented on #792
Ok, the root cause of this issue is that objectstore must be upgraded at once, and nevermore.

Kimchi has 3 upgrade scripts, which will run in sequence. But due to the commits timeline, the last script was committed some days later... so, if someone updated its local tree and upgraded the objectstore before the last script went upstream, this script will not run and you will see the error.

This i

[2015-12-08 00:06] sstoppler commented on #761
Working on it.

[2015-12-08 12:10] jrziviani opened #793 "Disable Libvirt hot-plugging support for multi-function adapters"
Live attachment of multi-function adapters is not correctly supported by Libvirt currently. We need to disable it.

[2015-12-08 12:14] jrziviani commented on #793
I'm working on it

[2015-12-08 13:39] Truja commented on #753
Working on this

[2015-12-08 16:18] Truja commented on #753
Fix sent to mailing list:
[Kimchi-devel] [PATCH] Issue #753: Avoid store max_memory in Templates records

[2015-12-08 21:18] Truja commented on #700
There are more problems with the clone.
Like, if you try to clone a RAW image, the clone will be a QCOW2
I am working on this.

[2015-12-09 15:17] andreteodoro commented on #776
I',m working on it.

[2015-12-09 16:46] ramonmedeiros commented on #761
Hi,

i did a test in a dirty git tree. NFS is working correct.

[2015-12-09 16:46] #761 closed

[2015-12-09 20:06] sstoppler commented on #787
I have latest src as of today, running on older version of Ubuntu (14.04), using FF42, Chrome 45.0.2454.101 and I do not see the problem either.

[2015-12-10 00:26] sstoppler commented on #778
Working on it.

[2015-12-10 02:19] Truja commented on #700
Patches sent:
[Kimchi-devel] [PATCH][WOK] Add validation and fix parameters in _generate_action_handler_base
[Kimchi-devel] [PATCH][KIMCHI] Fix problems in storage volumes	clone and fix Issue: #700

[2015-12-10 02:28] Truja commented on #378
This is done, please close

[2015-12-10 02:37] Truja commented on #557
This is already fixed.
Systemd configuration for Kimchid was changed and YUM process is not stopped when Kimchid dies or restart. Yum becomes a process child of INIT.

[2015-12-10 02:47] Truja commented on #792
Please , close

[2015-12-10 10:19] #792 closed

[2015-12-10 11:25] #378 closed

[2015-12-10 12:49] Truja commented on #767
Just tested upstream version and I don't see the problem.
We can close this bug.

[2015-12-10 15:36] Truja commented on #775
Notice the difference:
![selection_032](https://cloud.githubusercontent.com/assets/5686167/11719636/d1dd53de-9f42-11e5-9be5-e218c7d3dd66.png)

![selection_033](https://cloud.githubusercontent.com/assets/5686167/11719653/e308f3f2-9f42-11e5-9861-0d5bd7b5bafd.png)

Second is much more user friendly.

Sent patch "Fix issue #774 - Invert keys and values in storage volumes boxes"

[2015-12-10 15:57] Truja commented on #774
OK, I understand that it was defined like this in the UI Specification and you did as planned (excellent).
However, I got a question:
Can you give me a (good) reason on why should the buttons and placements be different in all screens ?
What are the advantages for the end user and implementation ?

Just to be clear, I am not a UI expert, I am trying to think as final user and how to improve user e

[2015-12-10 23:40] sstoppler commented on #778
Patch sent to ML for review.

[2015-12-13 09:43] mutty opened #794 "./autogen.sh with No package 'systemd' found"
I am using ubuntu1404 for kimchi.

it showes below when execute `./autogen.sh --system`.

[code]

**After `make` and `make install`, kimchid command can not be found.**

It makes me confused about how to install Wok in ubuntu, `wokd` command cannot be found.

[code]

Would you please give me a hand?

[2015-12-14 11:06] atreyeemukhopadhyay opened #795 "Jquery-bootgrid plugin library js file is having syntax error"
While page is loaded Jquery-bootgrid plugin library js file jquery.bootgrid.min.js is showing sysntax error.
As a result bootgrid components in ginger storage and networking tab are not working.

![jb issue](https://cloud.githubusercontent.com/assets/13199397/11779361/7fc47654-a280-11e5-9039-1edc0d65c2e0.png)
I will send a patch to replace the file with correct jquery.bootgrid.min.js

[2015-12-14 12:05] alinefm commented on #795
It is related to WOK! Please, open an issue against WOK repository.

[2015-12-14 12:05] #795 closed

[2015-12-14 12:23] alinefm commented on #793
Fixed by bae983bdc4205c8b30d8ecb398adc071fc1a943f

[2015-12-14 12:23] #793 closed

[2015-12-14 12:26] alinefm commented on #778
Fixed by 2d525f814b64c47b078db2652637a2a7273a277e

[2015-12-14 12:26] #778 closed

[2015-12-14 20:00] lcorreia commented on #788
I'm working on this.

[2015-12-14 20:33] samhenri commented on #776
Patch sent to the ML (Templates tab for now)

[2015-12-14 20:34] samhenri commented on #784
Patch sent to ML.

[2015-12-14 20:34] samhenri commented on #783
Patch sent to ML.

[2015-12-14 20:34] samhenri commented on #773
Patch sent to the ML

[2015-12-14 20:35] samhenri commented on #772
Patch sent to the ML. I've added Pt-BR i18n strings but I haven't checked other languages.

[2015-12-14 20:35] samhenri commented on #771
Working on it.

[2015-12-14 20:36] samhenri commented on #770
Patch sent to the ML.

[2015-12-14 20:36] samhenri commented on #762
Firewall issue, closed.

[2015-12-14 20:36] #762 closed

[2015-12-14 20:51] samhenri commented on #771
I think this might be a back-end issue. The window does close if you edit any other field and succeed the form validation, The expected behavior is to close the window after the name edit but somehow when I click the save button, it returns a 404 on an AJAX request to the new name.

[2015-12-15 15:11] alinefm commented on #770
Fixed by aa51e17bf09284828b564b7857073151513bbb8f

[2015-12-15 15:11] #770 closed

[2015-12-15 15:11] alinefm commented on #772
Fixed by 417b042e9092b7a371723c4d7de171e4e3561aa4

[2015-12-15 15:11] #772 closed

[2015-12-15 15:12] alinefm commented on #773
Fixed by 7507b22c5860b7e099c3fa3cec10f1d7dc89fdcb

[2015-12-15 15:12] #773 closed

[2015-12-15 15:13] alinefm commented on #783
Fixed by da9e6661f77088fa5a5ffb8eac385e64f89d5ab7

[2015-12-15 15:13] #783 closed

[2015-12-15 15:14] alinefm commented on #776
Template issue fixed by cbce1ad7807623820a6765c71dc407be3de17cb3

I will close it when get the fix for guests tabs.

[2015-12-15 15:15] alinefm commented on #777
Fixed by 3b69ac068fdae4d6e0494228276895444bb664fc

[2015-12-15 15:15] #777 closed

[2015-12-15 15:16] alinefm commented on #784
Fixed by 0d7e872d1db7384bb68f6a3dc8c993a5bf072433

[2015-12-15 15:16] #784 closed

[2015-12-15 20:32] alinefm commented on #776
Guest fix: 611d9e80e9c28054d79bf73350f2ecc2d9eceba5

[2015-12-15 20:32] #776 closed

[2015-12-16 13:41] alinefm commented on #769
Fixed by 5ea174588ad08134706c5f39edcb03e379b51dab

[2015-12-16 13:41] #769 closed

[2015-12-16 14:44] jrziviani opened #797 "Show volumes of a pool even if a volume is being created"
Today, if a volume is being created for a particular pool, that pool won't display any of its volumes. Actually, it will display an error telling that there is already an async task running. There is no reason for that so the volumes must be displayed anyway.

[2015-12-16 17:39] lcorreia opened #798 "Cannot build kimchi out of wok structure"
Distro: Ubuntu 15.10 x86_64
Tried to clone kimchi separately from wok and could not build it due to error below. The same problem occurs trying to build kimchi in wok tree before building wok itself.

Compiling .scss file src/kimchi.scss
sassc -s expanded src/kimchi.scss kimchi.css
sassc: error: Error: File to import not found or unreadable: ../../../../../../../ui/css/src/modules/wok-variables

[2015-12-16 18:43] lcorreia commented on #788
After further investigation, my conclusion is that this is an UI issue. Templates are always created using "default" network, even it is not active, since Kimchi does not allow to unactivate "default" network.

The edit-template UI shows only active networks in its drop-down. Thus when the network for that template is not active, it shows another network that is active at the moment, not the netwo

[2015-12-16 19:23] #753 closed

[2015-12-17 17:41] la0wei commented on #410
agreed

[2015-12-18 13:21] alinefm commented on #22
Kimchi does not launch an external process for websockify anymore.
Instead of that, Kimchi is relying on python-websockify to enable the websockets connection
(commit 613650d11812aa53fc046b7d573944ca5d3764b3)
Based on that, I don't think this issue makes sense in the current scenario.
I will close it by now, but feel free to reopen if you think anything else can be done on that area.

[2015-12-18 13:21] #22 closed

[2015-12-18 13:28] alinefm commented on #57
It was integrated with the new UI deisgn.
Fixed by 611d9e80e9c28054d79bf73350f2ecc2d9eceba5 cbce1ad7807623820a6765c71dc407be3de17cb3 4e85285184c8364ce8056db15de62f73b998ade1 447b5e6b263590d43ee512f96d2d30978e72d3c1

[2015-12-18 13:28] #57 closed

[2015-12-18 13:31] alinefm commented on #234
The common CSS is part of Wok framework.
Now, Kimchi only has specific CSS related to its content.

[2015-12-18 13:31] #234 closed

[2015-12-18 13:32] alinefm commented on #285
It is part of #37

[2015-12-18 13:32] #285 closed

[2015-12-18 13:38] alinefm commented on #384
Fixed by 81b8ee4a

[2015-12-18 13:38] #384 closed

[2015-12-18 13:39] alinefm commented on #407
Fixed by 0d7e872d1db7384bb68f6a3dc8c993a5bf072433

[2015-12-18 13:39] #407 closed

[2015-12-18 13:42] alinefm commented on #410
Kimchi and Wok 2.0 has a new UI design which makes use of Bootstrap.

[2015-12-18 13:42] #410 closed

[2015-12-18 13:45] alinefm commented on #428
This issue does not apply any more due the new UI design.

[2015-12-18 13:45] #428 closed

[2015-12-18 13:48] alinefm commented on #481
This issue does not apply to the new UI design.
Please, reopen if problem persists.

[2015-12-18 13:48] #481 closed

[2015-12-18 13:48] alinefm commented on #482
This issue does not apply to the new UI design.
Please, reopen if problem persists.

[2015-12-18 13:48] #482 closed

[2015-12-18 13:48] alinefm commented on #485
This issue does not apply to the new UI design.
Please, reopen if problem persists.

[2015-12-18 13:48] #485 closed

[2015-12-18 13:52] alinefm commented on #533
Fixed by f90ddcb3f1091efc59530bc6a14ffadcff10a73c

[2015-12-18 13:52] #533 closed

[2015-12-18 13:52] alinefm commented on #534
This issue does not apply to the new UI design. Closing it.

[2015-12-18 13:52] #534 closed

[2015-12-18 13:53] alinefm commented on #552
Hi @arosales!

Please, verify on Ubuntu 15.10.

[2015-12-18 13:57] alinefm commented on #557
Fixed by e1aab0da65f7aa8ee97540ae1698512376bd4f25, baa7cce28116401c3f7aac4f8ef57fa2f4c433ac, 35e33d8e58c805d36f81bd6d605f64de3e719aa4 b2f73636e7353551a870ff9584ec199c4b92ff8d

[2015-12-18 13:57] #557 closed

[2015-12-18 14:10] alinefm commented on #618
Fixed by e1aab0da65f7aa8ee97540ae1698512376bd4f25, baa7cce28116401c3f7aac4f8ef57fa2f4c433ac, 35e33d8e58c805d36f81bd6d605f64de3e719aa4, b2f73636e7353551a870ff9584ec199c4b92ff8d

[2015-12-18 14:10] #618 closed

[2015-12-18 14:20] #767 closed

[2015-12-18 14:23] #787 closed

[2015-12-18 14:23] alinefm commented on #787
The issue was caused during the wok repository creation when control/config.py was missed.

[2015-12-18 14:26] alinefm commented on #789
Duplicated of #406

[2015-12-18 14:26] #789 closed

[2015-12-18 17:16] #680 closed

[2015-12-22 13:12] alinefm commented on #797
Fixed by 393a1a478425bd4f40b8ef1aef1e3ffb8bcb2652

[2015-12-22 13:12] #797 closed

[2015-12-22 13:53] alinefm opened #799 "Gallery/List view: Remember user selection when switching tabs"
How to reproduce:

1. Go to Templates tab
2. Select Gallery view
3. Switch to another tab
4. Go back to Templates tab

Expected behavior:
Gallery view is displayed on Templates tab

Actual behavior:
List view is displayed on Templates tab

We should remember the user selection (probably by a browser cookie) to load the right view when going back to a tab.

I am not sure it is specific for Kimchi (

[2015-12-23 11:10] lcorreia opened #800 "Kimchi shows opensuse Leap 42.1 image as "unknown" OS"
When creating a template/guest from opensuse Leap 42.1, Kimchi does not recognize it as opensuse and labels it as unknown OS.

[2015-12-23 15:39] ramonmedeiros commented on #800
I will take it

[2015-12-23 16:34] ramonmedeiros commented on #800
Patch sent

[2015-12-27 23:19] mobibaud opened #801 "VMs created within Kimchi cannot be started - Error KCHVM0019E"
Just trying kimchi and went through the install with no problems.

Kimchi/wok/gingerbase are installed properly and correctly shows list of vms/templates etc.

I created a template (debian 8) and created a VM within kimchi. When I attempt to start it I'm met with the following error:

KCHVM0019E: Unable to start virtual machine git. Details: unsupported configuration: memory hotplug isn't supporte

[2015-12-28 15:32] mobibaud commented on #801
Re-visiting this again, this may be the qemu-kvm version (1.5.3) that does not support hotplug memory (that's kind of what the error was alluding to in the first place).

Since I'm mostly just building an old-ish computer for a VM lab, i'll rebuild with Fedora Server instead and  get kimchi installed - will ping back here to confirm if this is working fine using a newer qemu-kvm version.

[2015-12-28 17:28] jrziviani opened #802 "Update list of remote templates"
The list of remote templates does not show the newest distros available such as Fedora 23 or Ubuntu 15-10. It is a good idea to replace those older distros.

![image](https://cloud.githubusercontent.com/assets/670087/12022490/4f64ee10-ad77-11e5-8ff6-127d338f8a97.png)

Thanks

[2015-12-28 17:44] jrziviani opened #803 "Change guest name throws "Nothing matches the given URI" error"
After login, go to **Virtualization** tab, select **Guests**,  then select **Edit** under **Actions** menu of any VM available - which must be stopped.

The editor window will pop up, then change the name like the screenshot bellow:

* ***from***:
![image](https://cloud.githubusercontent.com/assets/670087/12022635/bfe46980-ad78-11e5-9773-67b77811a2f2.png)

* ***to***:
![image](https://cloud.github

[2015-12-28 17:55] jrziviani opened #804 "Disable "Connect VNC" when the VM is stopped"
There is no need to open a VNC to a stopped VM. If we do this we will get an error, I think we could either:

* disable the **Connect VNC*** option from the **Actions** menu when the VM is stopped - **OR**
* make **Connect VNC** starts the VM selected and then opens a VNC to it.

[2015-12-28 18:04] jrziviani opened #805 "[feature] Use an input file to select storage"
IMHO it would be easier if we have a input file (already opening the default /var/lib/libvirt/images folder) to select the disk we want to attach instead of a simple input text. If we could have an editable input file would be awesome.

Look at the screenshot bellow, it's (almost) impossible to remember the full path every time you need to attach something. Users certainly have to open the termina

[2015-12-28 18:09] jrziviani opened #806 "[feature] Create an intelligent input field for MAC Addresses"
IMHO it would be easier if we have a more intelligent edit field for MAC addresses. Based on the screenshot bellow, the code works correctly by warning the user that the MAC address she typed is wrong. But I think we could guide him by allowing only [0-9A-F] characters with ':' included automatically.

![image](https://cloud.githubusercontent.com/assets/670087/12023059/dc87d000-ad7c-11e5-8737-089a

[2015-12-28 18:34] jrziviani commented on #805
I was thinking a bit more about it and realize that an input file will display the files locally. To display files remotely it would require more work. Anyway I'll let this issue opened to see if I have a better idea on how to improve it.

[2015-12-28 18:43] jrziviani opened #807 "Cannot hot-plug a disk from my storage pool"
I created a new image directly in /var/lib/libvirt/images:
![image](https://cloud.githubusercontent.com/assets/670087/12023541/a4ec74e8-ad81-11e5-9206-7e1bfd18af93.png)

Now I want to hot-plug such image to my running VM, but there is nothing to select:
![image](https://cloud.githubusercontent.com/assets/670087/12023565/db483400-ad81-11e5-97ff-dfe983cd5fd5.png)

* Note: I'm able to attach a cdrom

[2015-12-28 18:45] jrziviani opened #808 "Cannot 'cold-plug' a disk into my VM"
I tried to attach a new disk to my VM (it is stopped) but I get the error in the screenshot bellow:

![image](https://cloud.githubusercontent.com/assets/670087/12023610/48ac0350-ad82-11e5-81e5-8a3d7871cdd1.png)

[2015-12-28 18:52] jrziviani opened #809 "PCI filter does not seem to work"
Open the **Edit** window for any VM and navigate to **Pci** tab. Try to use the filter, I was not able to filter anything by typing values in the text field.

![image](https://cloud.githubusercontent.com/assets/670087/12023678/e7e9bb74-ad82-11e5-97cb-cf6a09b7124e.png)

![image](https://cloud.githubusercontent.com/assets/670087/12023716/4a5fbe2a-ad83-11e5-910e-4c8ed7fd62a8.png)

* Note: the drop-do

[2015-12-28 22:40] mobibaud commented on #801
And final comment - yes - everything is working fine using qemu 2.4.1 (in Fedora Core 23).

I guess this should be more viewed as a change request for the install doc as this qemu requirement is not listed (or I'm blind).

[2015-12-28 22:40] #801 closed

[2015-12-29 14:06] cd1 commented on #802
Related to #611.

[2015-12-29 14:11] cd1 commented on #805
This issue seems to be a duplicate of #170.

[2015-12-31 13:09] pvital commented on #798
This happens because the Kimchi code is importing a file that needs Wok source code cloned before. In Ginger and Ginger Base projects was decided to explain in README file that if you are building the projects by their source code, you need Wok (and other projects if necessary) source code clone before.

[2015-12-31 13:48] lcorreia opened #810 "Kimchi fails to configure Linux bridge for eth device on Fedora 23 and RHEL 7.2"
Got the following error trying to run this request on Fedora 23 and RHEL 7.2:
curl -u dev -H "Content-Type: application/json" -H "Accept: application/json" "http://localhost:8010/plugins/kimchi/networks" -X POST -d '{"name": "netens3", "connection":"bridge", "interface":"ens3"}'

The bridge was created correctly, but the virtual network was not created. I noticed the iface misses network configura

[2015-12-31 17:40] lcorreia opened #811 "Virtual network creation does not work on openSUSE Leap 42.1"
Got the error below trying to create a virtual network either using Linux bridge or OVS bridge.
It seems an unhandled issue is causing self.info to be empty.

[31/Dec/2015:15:34:40] HTTP Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/cherrypy/_cprequest.py", line 670, in respond
    response.body = self.handler()
  File "/usr/lib/python2.7/site-packages/cherrypy/lib/en

[2015-12-31 17:58] lcorreia opened #812 "System not accessible after Linux bridge creation by Kimchi on Ubuntu 15.10"
Kimchi sucessfully creates a Linux bridge from eth0 to be used as the virtual network interface. But the Linux bridge and eth0 keep using same IP address and system is not accessible.

$ curl -u dev -H "Content-Type: application/json" -H "Accept: application/json" "http://localhost:8010/plugins/kimchi/networks" -X POST -d '{"name": "neteth0", "connection":"bridge", "interface":"eth0"}'
Enter host

[2016-01-04 14:51] samhenri commented on #758
@chandrureddy Hi Chandra, can you confirm if this is still happening with the new-ui?

[2016-01-04 16:38] lcorreia commented on #811
For a NAT virtual network, I got this error in the log:

[04/Jan/2016:14:21:06] HTTP Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/cherrypy/_cprequest.py", line 670, in respond
    response.body = self.handler()
  File "/usr/lib/python2.7/site-packages/cherrypy/lib/encoding.py", line 217, in __call__
    self.body = self.oldhandler(*args, **kwargs)
  File "/usr/lib/py

[2016-01-04 18:23] ramonmedeiros opened #813 "Cannot run kimchi on ubuntu 15.10: libvirtError('invalid argument: could not find capabilities for arch=x86_64 domaintype=kvm ',)"
How to reproduce:

install fresh ubuntu 15.10
Try to run wok+kimchi

you'll see some errors about capabilities

libvirt:  error : internal error: Child process (/sbin/showmount --no-headers --exports localhost) unexpected exit status 1: clnt_create: RPC: Program not registered
internal error: Child process (/sbin/showmount --no-headers --exports localhost) unexpected exit status 1: clnt_create: RP

[2016-01-04 18:23] ramonmedeiros commented on #813
I'm taking a look

[2016-01-04 18:35] ramonmedeiros commented on #813
Hi,

the problem was nested virtualization support. To add it, follow this instructions:

http://kashyapc.com/2012/01/14/nested-virtualization-with-kvm-intel/

[2016-01-04 18:35] #813 closed

[2016-01-04 20:18] lcorreia commented on #650
Tried this with Fedora 23 x86_64. My feedback:

Scenario 1: it is still reproducible, but there is a warning message in virtual network creation pop-up asking to disable Network Manager.

Scenario 2: virtual network was created without an internal server error. But system network is not coming up after a reboot. A network restart after boot could solve it.

[2016-01-06 16:18] ramonmedeiros opened #814 "[UI] [Kimchi] UI just show exported NFS path when clicked twice at field"
How to reproduce:

1) Setup a nfs server and export a directory:
echo "/mnt      0.0.0.0/255.255.255.0(rw,no_root_squash)" >> /etc/exports

2) Input IP and name for the storage pool at Kimchi UI

3) When you first click at exported directoy, nothing will appear, then, if you click out and click again, the UI will show you the directory exported.

[2016-01-06 16:25] ramonmedeiros commented on #814
Hi,

instead of using 0.0.0.0, i used 127.0.0.1. Nfs is mounting correctly. But UI still got trouble to show the exported path at first click

[2016-01-06 16:45] lcorreia commented on #811
All those errors were caused by an old python-ethtool. We can close this.

[2016-01-06 16:45] #811 closed

[2016-01-06 16:57] ramonmedeiros opened #815 "[Storage] Cannot add detached disk to VM"
How to reproduce:

1) Create a new guest from a CD template
2) Detach the empty disk
3) Try to attach it (An error will be displayed)

About this bug, it's designed to avoid adding blank disks?

[2016-01-06 17:57] ramonmedeiros opened #816 "kimchi.conf isn't pointing to libvirt service on ubuntu 15.10"
On ubuntu 15.10, which uses systemd, wokd has a kimchi.conf file, that needs libvirt service. But, instead of pointing to libvirt-bin service, it's pointing to libvirtd (the name used on fedora)

[2016-01-06 18:13] jrziviani opened #817 "Backend should tell the frontend when a PCI device is no longer attached"
I tried to hot-plug and hot-unplug a PCI device. It worked fine but, for some reason, the UI was not updated accordingly. So, if I click on the device to unplug it again I get an error:

![image](https://cloud.githubusercontent.com/assets/670087/12150225/b79a208a-b48f-11e5-9b31-2a741ecefbfe.png)

And the backend throws an error because I tried to detach a device no longer attached:
[code]

I think

[2016-01-06 18:36] jrziviani opened #818 "Frontend doesn't update the PCI tab after a PCI attachment"
Navigate to **Virtualization** → **Guests**. Click on **Actions** of any *stopped* guest and **Edit**. The **Edit Guest** window will pop up, then navigate to **Pci**.

Click to attach a device to that guest, you won't get any feedback unless you close the **Edit Guest** window and reopen it back. Then, if you choose to detach the device will click on the de device, like the image bellow:
![image]

[2016-01-07 11:07] pvital commented on #317
The behavior reported in this issue still happens in Kimchi 2.0.0 (actually tested with HEAD of git on 2016-01-07) but only in Network tab, after click to add a new network. For all other tabs the 'Create' button is disabled until all required fields are filled.

![screenshot from 2016-01-07 09-04-26](https://cloud.githubusercontent.com/assets/699330/12169140/e4709a92-b51d-11e5-9406-eb329e5eae03.p

[2016-01-07 13:46] pwuestef opened #819 "template creation fails if there is no storagepool named "default""
As already stated in the subject, this happens if a storage pool named "default" does not exist while trying to define a new template:

KCHTMPL0004E: Storage pool /plugins/kimchi/storagepools/default specified for template debian8.2.1452173843118 does not exist

This is although multiple valid and active storage pools exist.

After definition of a storage pool named "default" the error message cha

[2016-01-07 15:35] ramonmedeiros opened #820 "Investigate about benefits and issues to upgrade python-websockify to 0.7"
python-websockify 0.7.x has a lot of changes, even the parameters of the class (which breaks with the actual Kimchi's code).

Would be nice to take a look the advantages to move to this version. The propose is to make a investigation of needed changes to support it, and, if it's improve Kimchi functionality.

[2016-01-07 20:00] ramonmedeiros commented on #820
Just posted a question in the community

[2016-01-07 21:31] JesseTG opened #821 "Kimchi won't install on Kubuntu 15.10; it hangs"
When I try to install Kimchi from the official repos on Kubuntu 15.10 64-bit, `apt-get` starts to install it...then nothing.  No output, it just hangs.  I think the installer might have hit an infinite loop or a deadlock or something.  I had to stop installation, but now even `dpkg` can't uninstall it, so I can't install or remove any packages from my system until this is fixed!

[2016-01-08 11:26] jrziviani commented on #805
Duplicate of #170

[2016-01-08 11:26] #805 closed

[2016-01-08 14:37] ramonmedeiros commented on #816
Patch sent

[2016-01-08 18:10] alinefm commented on #819
Hi @pwuestef !

The default values for a template are defined in a configuration file (/etc/kimchi/templates.conf)
If you don't want to use the 'default' pool as default in your templates, please, update the configuration file accordingly.

[2016-01-08 18:42] lcorreia commented on #810
Those issues were caused by a conflict with NetworkManager service, which was enabled. I will add an error message for that use case.

[2016-01-09 13:38] RockoPB commented on #821
I've the same problem here. Found out, that this process was hanging: /bin/sh /var/lib/dpkg/info/kimchi.postinst configure
After some research i saw, that the /lib/systemd/system/kimchi.service file is wrong in the ubuntu package.
This entry in the file is right:
Requires=libvirt-bin.service
After=libvirt-bin.service

instead of this wrong configuration:
Requires=libvirtd.service
After=libvirtd.se

[2016-01-09 15:10] RockoPB commented on #821
And: /etc/pam.d/kichmi is wrong. instead of libvirt the group should be libvirtd
auth     sufficient  pam_succeed_if.so user ingroup libvirtd
instead of
auth     sufficient  pam_succeed_if.so user ingroup libvirt

[2016-01-09 20:06] pwuestef commented on #819
Hi @alinefm !

That would seem natural to me, but the kimchi package 2.0.0.0 for ubuntu did not contain that templates file. Within that package there were these files:

/etc/kimchi
/etc/kimchi/distros.d
/etc/kimchi/distros.d/debian.json
/etc/kimchi/distros.d/fedora.json
/etc/kimchi/distros.d/ubuntu.json
/etc/kimchi/distros.d/opensuse.json
/etc/kimchi/distros.d/gentoo.json

Instead, I found a temp

[2016-01-09 20:06] #819 closed

[2016-01-11 11:48] alinefm opened #822 "Mobile design"
Provide a specific UI design for mobile devices.

[2016-01-11 11:57] alinefm opened #823 "ovirt-node integration"
Provide a simple way to migrate from Kimchi to oVirt.

[2016-01-11 12:00] alinefm opened #824 "Command line tool to access REST API"
Extend the basic command line tool provided by Wok to provide access to Kimchi APIs

[2016-01-11 12:17] alinefm opened #825 "Fedora - Distrubution packaging"
As we had a lot of changes in the Kimchi package due the separation to Wok and Ginger base, we should start over the Fedora process to Kimchi package included in the Fedora official repositories.

[2016-01-11 12:18] alinefm opened #826 "openSUSE - Distrubution packaging"
Identify what is needed to have wok package included in the openSUSE official repositories.

[2016-01-11 12:19] alinefm opened #827 "Ubuntu - Distrubution packaging"
Identify what is needed to have wok package included in the Ubuntu official repositories.

[2016-01-11 12:23] alinefm opened #828 "Change boot order"
Allow user change boot order in the guest configuration.

[2016-01-11 12:25] cbosdo commented on #826
I already have a package here:
https://build.opensuse.org/project/show/home:cbosdonnat:branches:Virtualization

It's still pending some dependencies to be accepted before I can accept the wok package in OBS' Virtualization project.

[2016-01-11 12:27] alinefm opened #829 "Display guests in a hierarchical fashion (ie, folders)"
Allow user create guests categories and display them in a intuitive UI.

[2016-01-11 12:28] alinefm opened #830 "Guest serial console"
In a similar way of noVNC and Spice, Kimchi should provide a way to user access the guest text console.

[2016-01-11 12:32] alinefm opened #831 "Create template from an existing guest"
Allow user create a template from an existing guest.

[2016-01-11 12:33] alinefm opened #832 "Create templates from imported JSON file"

[2016-01-11 12:34] alinefm opened #833 "Storage Volume Management (create, delete, resize, wipe, clone)"
The REST APIs already exist to create, delete, resize, wipe and clone a storage volume.
We should update the UI to include access to those features.

[2016-01-11 12:36] alinefm opened #834 "Create a logical pool from an existing VG"
The user should be able to reuse an existing VG to create a logical pool.
The REST API for that is already implemented.

[2016-01-11 12:44] alinefm opened #835 "Support template creation from distros located in physical DVD/CD or PenDrive"

[2016-01-11 12:52] alinefm opened #836 "Allow user change guest graphics type"
Once the guest is created there is no way to change the graphics type from VNC to Spice or vice versa.
It would be good to provide a way to user do that.

[2016-01-11 14:17] alinefm commented on #826
Hi @cbosdo!

That would be a good start. Could you also add the gingerbase package (https://github.com/kimchi-project/gingerbase/issues/35) into OBS' Virtualization project too? It is a Kimchi dependency.

[2016-01-11 14:49] cbosdo commented on #826
@alinefm it's all in the wok project. You'll see it here https://build.opensuse.org/package/show/home:cbosdonnat:branches:Virtualization/wok. That said there may be an easier way to build the whole thing, but couldn't find it.

[2016-01-13 13:00] Truja commented on #771
Working on this, checking backend/frontend interaction

[2016-01-13 19:00] laggarcia commented on #804
I think it should be disabled if the VM is not running.

[2016-01-14 00:53] RockoPB commented on #742
Why did i need this opensans_dir with dependencies of 1,7 GB on ubuntu 15.10? thats not so cool, only for a font. :(

[2016-01-14 13:42] pvital opened #837 "Clone one VM multiple times at the same time."
As a user, I want to clone one specific VM into multiple VMs at the same time so that I can have multiple VMs at the same datecenter.

This is supported by backend, since create clone is an asynchronous job. Need only change UI to get from user how many clones is expected and then create the same number of requests to backend.

[2016-01-14 13:43] Truja commented on #771
I investigated a little bit more and this is a problem in the backend indeed.
cherrypy.HTTPRedirect is sending a different URL , and UI cannot open it.
This redirect error is seen when you update Guest or Template names. Backend should send the new resource name url and this is not done.

[2016-01-14 16:33] pvital commented on #817
Sometime ago I got a possible usability issue during PCI passthrough due to the return time of attach and de-attach a device provided by backend and the reflection this causes in UI.

Looks like there're some differente ways provided by libvirt and QEMU to check if the hot plug/unplug operation run to completion.

Please, assign this issue to me.

[2016-01-15 12:54] nrigaud opened #838 "RHEL 7.2: Unable to start virtual machine due memory hotplug issue"
Hello,

I am actually trying to use Kimchi on Centos 7 (1511). (On a recent IBM X86 Server with a xeon processor).
It has been installed from git source. Kimchi version is 2.0.0-0

I tried to create some virtual machines (a debian 8 one, and a Win7).
But i can't start any of them, Kimchi gives me the following message:

I then have a look at journalctl which gives me the same message:

Well, i the

[2016-01-15 17:31] laggarcia commented on #838
It seems from your "virsh version" output that you have QEMU 1.5.3 installed in CentOS 7. As you said QEMU memory hotplug is supported since versoin 2.1, that's probably why you are getting this error message.

[2016-01-18 09:23] nrigaud commented on #838
Thank you for your answer.
I agree that it seems to be the reason why i have this message.

But i am wondering if this is wanted.
Centos or RHEL 7.2 are recent distributions, i thought it would work because RHEL is documented in the README.

If there is a minimal QEMU version required, there may be a warning somewhere in the documentation.

Best regards.

[2016-01-18 10:58] nrigaud opened #839 "Bridge cannot be set on Network team"
Hello,

Context:

I have the feeling that interfaces created with the Team driver are not taken into account.
If i try to create a bridge from Kimchi interface, i wil see a list where i can only choose ethernet interfaces.

I had a quick look to the code (i am new to Kimchi, so i am actualy in a discovery phase, i am certainly missing many things).
I looked into:
* networks.py
* netinfo.py

And i

[2016-01-18 13:03] #810 closed

[2016-01-18 20:23] pvital commented on #813
Looks like enable the kvm_intel (or kvm_amd) options in host's boot is not enough. I had to set up the VM to use the same CPU model of host:

[code]

[2016-01-19 19:29] #816 closed

[2016-01-20 12:45] alinefm commented on #390
Fixed by 84349f589249fed69fb3a5215d1de3a7d5fa4a40 and  62b0d806ed818841b0899127897d81fa4438d8dd (wok commit)

[2016-01-20 12:45] #390 closed

[2016-01-20 12:54] alinefm commented on #733
Hi @daniel-k !

I understand the problem exists due the hard code you pointed. But you don't need to edit the nginx configuration to change the Kimchi URI. You just need to edit the /etc/wok/plugins.d/kimchi.conf file

That way, we can easily grab the config from this file and remove the hard code from JS file.

[2016-01-26 11:52] peterpennings commented on #791
Is kimchi.getInterfaces() already configured to show NIC and bondings in case of macvtap option? Or is there a specific endpoint to get the Destination values for macvtap?
![screenshot](https://cloud.githubusercontent.com/assets/15019111/12579882/72f3c05c-c412-11e5-9ad6-7a49a90a6a69.png)

[2016-01-26 12:27] ramonmedeiros commented on #820
Hi,

just add support for websockify with commit 1c1b023931f4ea229c524598f0d74ef24e529840

[2016-01-26 12:27] #820 closed

[2016-01-27 10:40] samhenri commented on #768
Applied on master.

[2016-01-27 13:16] minoru9999 opened #840 "remote iso image not display"
Kimchi 2.0 on CentOS7(1511) and Fedora23.

Add Template With Remote ISO Image.
But Not Show Any ISO Image.
wok-error.log have a Error

[code]

Why Number Processed least 1??

[2016-01-28 06:11] minoru9999 commented on #840
Problem was solved.

Kimchi's distros.d path is differ
[code]
Kimchi's distros.d is /etc/kimchi/distros.d
But config.py called distros.d is /etc/wok/plugins.d/distros.d

Kimchi's config.py is set PluginPaths('kimchi').conf_dir, 'distros.d'
And
Wok,PluginPaths is set /etc/wok/plugins.d, not /etc/kimch

Thanks.

[2016-01-29 00:14] sstoppler opened #841 "Make Kimchi distinguish between local ISO Image from disk Image Files"
We had some discussion in Kimchi mailing list about this bug in thread:
"[Kimchi-devel] [RFC] Change template creation media input"

According to RFC, there is not need to have 2 tabs in Kimchi, one to provide a local ISO and another to provide .img disk files. We can have one screen  with one input field.

[2016-01-29 11:16] nrigaud commented on #838
I discovered that Red Hat Enterprise Virtualization provides a more recent version of QEMU.
So, i did the following:
I took the SRPMS from: http://ftp.redhat.com/pub/redhat/linux/enterprise/7Server/en/RHEV/SRPMS/
Il compiled and installed them on my CENTOS server.

QEMU is now in version 2.3.0.
Now it is possible to start the virtual machines.

Thanks

[2016-02-04 13:58] ghidasy opened #842 "Using "High Contrast Mode" and other text reflow utilities"
Kimchi main page displays the following message when in High Contrast Mode (firefox expension):
"Oops! It looks like I am running from a source tree and you forgot to build! Please run the following command from the kimchi directory and reload this page:

make"
Disabling it and the black overlay (<div  id="buildme">) in firefox debuger yelds an usable page.

[2016-02-05 16:48] jrziviani opened #843 "Add //# sourceURL=kimchi.min.js when creating kimchi.min.js"
In order to debug dynamically loaded javascript code it's necessary to add
[code]
at the end of the source file.

Source: https://developer.chrome.com/devtools/docs/javascript-debugging
Breakpoints in Dynamic JavaScript

[2016-02-08 00:47] computergeek125 commented on #821
I can confirm that @RockoPB 's workaround with the systemd script works in Ubuntu 15.10 Desktop (Linux 4.2.0-27-generic).  Thanks for the tip!

[2016-02-08 16:41] ramonmedeiros commented on #841
This issue is for backend or frontend? I sent a patch about this last year:

http://lists.ovirt.org/pipermail/kimchi-devel/2015-December/013253.html

[2016-02-08 17:22] sstoppler commented on #841
This issue is for UI

[2016-02-09 18:36] jrziviani commented on #830
Hi Aline, can you assign this one to me?

Thanks

[2016-02-11 06:19] Truja commented on #790
How is the development of this feature ?? Backend is ready.

[2016-02-11 14:46] sstoppler commented on #790
Currently working on it.

[2016-02-11 15:39] sstoppler commented on #406
Patch applied upstream:
https://github.com/kimchi-project/kimchi/commit/ea99ac451e7cb4247ff9c19447d0c052be45073a

[2016-02-12 18:06] sstoppler commented on #834
Hi Aline,

Can you pls reassign to Peter as he is working on this?

Thanks!
-Socorro

[2016-02-15 01:49] alinefm commented on #830
Fixed by 7a2b43bb26379c250775d8905c7f54770dd76701

[2016-02-15 01:49] #830 closed

[2016-02-15 17:49] jrziviani commented on #843
Sent patch to implement it upstream.

![image](https://cloud.githubusercontent.com/assets/670087/13056280/946447cc-d3fb-11e5-875e-573e7cd4474b.png)

[2016-02-16 13:02] jrziviani commented on #804
Patch sent to review

[2016-02-16 21:41] pvital commented on #372
V1 for backend patch-set submitted to ML

[2016-02-17 16:06] alinefm commented on #843
Fixed by 3de4eed7ef7685dd03c1b74fae38fe229c15a16c

[2016-02-17 16:06] #843 closed

[2016-02-17 16:08] alinefm commented on #804
Fixed by 28261d4cc545c900b086427b2e7fb2fa958f1de6

[2016-02-17 16:08] #804 closed

[2016-02-18 02:58] RaulFu opened #844 "autogen.sh --system failed fatal: No names found, cannot describe anything."
OS: CentOS 7.2
Kernel:  3.10.0-327.4.5.el7.x86_64

I clone all code from github and then put it into another git repository.
when run autogen.sh. The information below appears.
I run automake --add-missing in terminal, but it thems can't fix this problem.

./autogen.sh --system
configure.ac:44: warning: macro 'AM_GNU_GETTEXT' not found in library
configure.ac:45: warning: macro 'AM_GNU_GETTEXT_VER

[2016-02-18 08:30] RaulFu commented on #844
Finally, it is figured out that it's wrong for operation for git migration.
It is nothing wrong with kimchi.
I can't copy code from github.com repository to my product repository directoryly.
Use git clone --bare [git url] and push it to my repository.
[http://codeoncloud.cn/159.html](url)
[http://codeoncloud.cn/163.html](url)

[2016-02-18 08:30] #844 closed

[2016-02-20 12:19] Ingvarhost opened #845 "Kimchi don't start on Centos 7.2"
I have KVM host with Centos 7.2. When I install Wok 2.0 and Ginger-base 2.0 from rpms, the service wokd correctly start and I may login to the web interface. After what I install Kimchi 2.0 and wokd don't starting. System log:

[code]

[2016-02-23 14:52] alinefm commented on #790
Fixed by 7128507684cf8fdc66c4ba006688a94b5378104c

[2016-02-23 14:52] #790 closed

[2016-02-23 17:37] alinefm commented on #834
Fixed by b453728791a9e6bef278bb2216ab495b71d4495a

[2016-02-23 17:37] #834 closed

[2016-02-23 23:09] avs262 commented on #845
According to your logs port 8000 and 8001 are already in use.

[2016-02-24 08:09] Ingvarhost commented on #845
This ports using by nginx, which started by wokd.```
tcp        0      0 0.0.0.0:8000            0.0.0.0:*               LISTEN      3293/nginx: master
tcp        0      0 0.0.0.0:8001            0.0.0.0:*               LISTEN      3293/nginx: master
[code]

[2016-02-25 09:32] romu70 opened #846 "No toolbar on Ubuntu 15.10"
Hi,
I finally managed to install Kimchi on a Ubuntu 15.10. I can reach the https://localhost:8001 page and I can login. Now, I've another annoying issue : there is no toolbar. I see the title bar with the Kimchi icon, the user menu with a "Log out" item and the help menu.

Below, there is an empty grey area where I guess the toolbar should stand...but it doesn't.

Any help would be great. Thanks.

[2016-02-25 15:32] romu70 commented on #846
More on this issue.

I've tried to remove Kimchi by running ```sudo make uninstall```, so while keeping only Wok and GingerBase. And surprise! I see the "Host" top menu with the "Dashboard" and "Updates" menu items.

So now, how can I have a properly running Kimchi?

[2016-02-25 16:10] romu70 commented on #846
Another update, I tried to install Kimchi 2.0.0 instead of the master. Problem, Kimchi with the tag 2.0.0 doesn't build. Problem comes from sassc command doesn't exist from scratch on Ubuntu.

So, I built sassc. But this doesn't work because the commande ```sassc -s expanded src/kimchi.scss kimchi.css``` is not correct, and should be (accord the sassc help): ```sassc -t expanded src/kimchi.scss ki

[2016-02-25 16:36] Truja opened #847 "[UI] Save button is having wrong behavior when edit a running Guest"
Create a guest and start it.
Then open the Edit window:
- You will be in General tab and Save button will be enabled;
- Move to other tabs: Save button is going to be disabled and enabled again, depending on where you was and are.
- You ended up having the button always disabled in General tab.

[2016-02-26 14:39] romu70 commented on #846
Debugged with @alinefm on IRC, a working script is here: https://github.com/kimchi-project/kimchi/wiki/Setup-script-for-Ubuntu-15.10

[2016-02-26 14:39] #846 closed

[2016-02-26 15:18] behigh opened #848 "Error display Guests"
Guests are not displayed. In the log, I found these errors
`HTTP Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/cherrypy/_cprequest.py", line 656, in respond
    response.body = self.handler()
  File "/usr/lib/python2.7/site-packages/cherrypy/lib/encoding.py", line 188, in __call__
    self.body = self.oldhandler(*args, **kwargs)
  File "/usr/lib/python2.7/site-package

[2016-03-01 05:30] ioben opened #849 "HTTP 500 error in interfaces tab for all virtual hosts"
When visiting the interface panel for any of my virtual machines I get the following error from the wokd error log:
[code]

I was able to fix the issue by modifying `/usr/lib/python2.7/site-packages/wok/plugins/kimchi/model/vmifaces.py`:
[code]

to:
[code]

Not sure if that's an optimal solution though.

Versions
[code]

[2016-03-01 14:10] danielhb opened #851 "Kimchi does not care about deleting storage from non-kimchi VMs and migrated VMs"
Steps to reproduce using virsh:

- create a VM using virsh (or even virt-manager) with at least one disk
- delete the VM in Kimchi

We'll notice that the VM disks will remain untouched after the VM delete. This happens because the code that deletes a VM removes the storage that Kimchi is aware of, using storagepools/storagevolumes objects, instead of going through the VM XML and delete all the dis

[2016-03-03 11:04] jadibou opened #852 "Kimchi problem"
Hello,

i install kimchi on my fedora serveur
and dont have a virtual machine tools ..
look my panel, i dont have a guest, template, storage menu ...

![capture](https://cloud.githubusercontent.com/assets/17614596/13492384/fee03c70-e137-11e5-9fd8-e912c8ca859f.JPG)

do you have a solution for me ?

tkt

[2016-03-03 13:58] alinefm commented on #852
Hi @jadibou !

Seems Kimchi is not up!
What you are seeing is wok + gingerbase.
How did you install wok and gingerbase? Have you installed Kimchi as well?

[2016-03-03 14:03] jadibou commented on #852
I have install wok and gingerbase :
 yum install wok.rpm
yum install gingerbase.rpm
yum install kimchi.rpm

i dolwnload the rpm in this page : http://kimchi-project.github.io/gingerbase/

i use fedora

[2016-03-03 14:24] impo opened #853 "Kimchi won't recognize existing VGs"
Discussed over IRC with @alinefm

I am unable to add logical storage to existing VGs. The web interface returns "No LVM found in the system."

System: CentOS 7 x86_64 Minimal

`vgs --units b --nosuffix --noheading --unbuffered --options vg_name,vg_size,vg_free` returns:
  centos-main 127506841600 67108864
  DummyVG 320067338240 320067338240

Opening up a Python interpreter in the root of the sourc

[2016-03-03 14:38] jadibou commented on #852
kimchid.service - Kimchi server
   Loaded: loaded (/usr/lib/systemd/system/kimchid.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since jeu. 2016-03-03 15:35:46 CET; 2min 30s ago
  Process: 1405 ExecStop=/bin/kill -TERM $MAINPID (code=exited, status=1/FAILURE)
  Process: 1156 ExecStart=/usr/bin/kimchid (code=exited, status=1/FAILURE)
 Main PID: 1156 (code=exited,

[2016-03-03 14:39] jadibou commented on #852
kimchid.service - Kimchi server
   Loaded: loaded (/usr/lib/systemd/system/kimchid.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since jeu. 2016-03-03 15:35:46 CET; 3min 0s ago
  Process: 1405 ExecStop=/bin/kill -TERM $MAINPID (code=exited, status=1/FAILURE)
  Process: 1156 ExecStart=/usr/bin/kimchid (code=exited, status=1/FAILURE)
 Main PID: 1156 (code=exited, s

[2016-03-03 15:26] alinefm commented on #852
Is psutil package installed?
Which Fedora version are you running? Fedora 23?

[2016-03-03 15:40] jadibou commented on #852
yes fedora 23

[2016-03-03 16:21] alinefm commented on #852
Please, stop wokd service and run it manually:
`sudo wokd --environment=development`
And paste here the command output

[2016-03-03 19:40] jadibou commented on #852
[root@localhost ~]#  wokd --environment=development
nginx: [emerg] bind() to 0.0.0.0:8001 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:8000 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:8001 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:8000 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:8001 failed (98: Ad

[2016-03-04 20:15] samhenri commented on #771
Hi @Truja have you done any other investigation for this? I've tried to create a work-around but I'm out of ideas here.

[2016-03-04 20:31] alinefm commented on #771
Hi @samhenri!

As @Truja said, it was a backend issue. I've just removed the UI label.

[2016-03-06 14:00] OnigamiSama opened #854 "[CentOS7] Kimchid.service not present"
I installed ginger-base and wok with the package on the website as well as kimchi but when I do "sudo systemctl enable kimchid.service" I get "failed to execute operation: acces denied" and when I do "sudo systemctl start kimchid.service" I get "Failed to start kimchid.service: unit kimchid.service failed to load: No such file or directory."

On a fresh CentOS7 install in virtualbox

[2016-03-06 14:21] laggarcia commented on #854
In Kimchi 2.0 the service has been renamed to wokd.

[2016-03-06 14:25] OnigamiSama commented on #854
Ok so as long as workd is running it should be good ? because https://localhost:8001 doesn't display anything, but it's an other kind of issue so we can close that one, thanks

[2016-03-06 14:25] #854 closed

[2016-03-07 01:22] OnigamiSama opened #855 "[CentOS7] Kimchi pull qemu-kvm 10:1.5.3-105.el7_2.3"
So I have installed ginger-base wok and kimchi from rpm packages but I get the error "memory hotplug isn't supported by this QEMU binary", No problem I'll just remove qemu-kvm-1.5 and install qemu-2.x from EPEL

The problem is that after removind qemu-kvm and installing qemu, the Kimchi install pulls qemu-kvm-1.5 as a dependency. I see [that there is CentOS repos](http://mirror.centos.org/centos-7

[2016-03-07 01:48] ghost opened #856 "wok, kimchi.. whatever redirects to https://127.0.0.1:8010/login.html"
The documentation for how to install this software is very, very bad. It was one piece of software, kimchi, and now it is.. 4? RPMs are provided for some of it, but not the rest? That aside I am still seeing the login page redirect to the https://127.0.0.1:8010/login.html address after trying to use Cloudflare to protect wokd.

I really don't know what to do with this software. It looks amazing, b

[2016-03-07 02:37] OnigamiSama commented on #855
solved, I'm dumb

[2016-03-07 02:37] #855 closed

[2016-03-07 14:12] alinefm commented on #856
Hi @SoftBrok !

You can find some documentation at:
https://github.com/kimchi-project/wok/blob/master/docs/README.md
https://github.com/kimchi-project/kimchi/blob/master/docs/README.md
https://github.com/kimchi-project/gingerbase/blob/master/docs/README.md

And also at:
http://kimchi-project.github.io/wok/
http://kimchi-project.github.io/kimchi/
http://kimchi-project.github.io/gingerbase/

About y

[2016-03-07 17:43] samhenri commented on #847
I'm working on enabling the Save button when switching back to General tab but as for the other tabs the button is disabled because the changes are saved by default when the user changes them on each tab. In the old-ui the button would simply disappear but I thought it wouln't look consistent with the other screens.

[2016-03-07 19:05] Truja commented on #752
Hi Abhiram,
the root cause of this problem was a bit different. I have just sent a patch that fixed this  issue.
Thank you for reporting.

@alinefm I think we can close this issue with my latest patch

[2016-03-08 09:01] romu70 opened #857 "Feature-Request: Show the VM description"
Small change request : on Virt-Manager, there is a small room to document a VM, this is really useful. Unfortunately, Kimchi doesn't show this data and it should.

Thanks.

[2016-03-08 13:32] alinefm commented on #853
Hi @jrziviani!

Do you know there is some filter while listing the VGs?

[2016-03-08 13:34] alinefm commented on #852
Hi @jadibou!

Seems wokd was already running when you tried to run it manually.
Please, do:

`service wokd stop`

and then:

`wokd --environment=development`

And paste the command output again.

[2016-03-08 13:38] jadibou commented on #852
[root@localhost ~]# wokd --environment=development
Loading YumUpdate features.
rc: 1 error: Cannot talk to Tuned daemon via DBus. Is Tuned daemon running?
 returned from cmd: tuned-adm active
rc: 1 error: Cannot talk to Tuned daemon via DBus. Is Tuned daemon running?
 returned from cmd: tuned-adm active
[08/Mar/2016:14:38:13] ENGINE Listening for SIGHUP.
[08/Mar/2016:14:38:13] ENGINE Listening for

[2016-03-08 14:01] alinefm opened #858 "Unable to create bridged network if iwith NetworkManager disabled"
When I tried to create a bridged network, a warning message was displayed asking to disable NetworkManager. Even after disabling this service, the warning message keeps showing and I was not able to created the bridged network.
I needed to restart the wokd service to make it works.

IMO the user should not need to restart wokd after disabling NetworkManager.

Verified on Fedora 23.

[2016-03-08 14:06] jrziviani commented on #853
@alinefm Hi! it seems this commit (https://github.com/kimchi-project/kimchi/commit/ded9d91ac364df691ff4927675ec6b864e12dfd3) broke this feature when it changed
[code]
I'm working on it

[2016-03-08 16:52] alinefm commented on #849
Hi @ioben!

Thanks for reporting the problem. I am working on a patch to fix it.

[2016-03-08 17:59] alinefm commented on #852
Hrm... no error reported there
@jadibou, were you able to see the Virtualization tab yet?

With wokd running, could you run, in a different terminal the following command and paste the output:

curl -u <user:password> -H "Content-Type: application/json" -H "Accept: application/json" https://localhost:8001/plugins -k

[2016-03-08 18:18] alinefm commented on #851
Hi @danielhb!

In a discussion in the ML, @pvital suggested to ask user to delete or not the disks files.

So basically, the DELETE /plugins/kimchi/vms/<name> will only remove the VM from the libvirt perspective and keep the disks there.

If user wants to remove the disks, he/she needs to use DELETE /plugins/kimchi/storagepools/<pool>/storagevolume/<volume> API with an additional parameter 'wipe:

[2016-03-08 18:19] alinefm commented on #848
Hi @behigh !

Could you provide more details on how to reproduce this behavior?
OS? Wok, Kimchi version? How did you create the virtual machine? Using Kimchi or other tool?

[2016-03-08 18:28] alinefm commented on #845
Hi @Ingvarhost !

Kimchi package installs a new systemd file, /etc/systemd/system/wokd.service.d/kimchi.conf, to make sure libvirt service is up and running.

I am not familiar with CentOS, but I think you need to enable the kimchi service on systemd in a similar way you did for wokd.

The contend of /etc/systemd/system/wokd.service.d/kimchi.conf
`[Unit]
Requires=libvirtd.service wokd.service
Afte

[2016-03-08 18:46] alinefm commented on #845
@pvital Please, try to reproduce it and provide feedback.

[2016-03-08 18:49] Truja commented on #845
I think the following scenarios worth test:

1 - Install wok rpm and run it, then install kimchi rpm
2 - Install wok rpm and run it, then install ginger rpm
3 - Install wok and kimchi rpms  and run it, then update kimchi rpm
4 - Install wok and ginger rpms and run it, then update ginger rpm

[2016-03-08 18:56] #406 closed

[2016-03-08 19:02] pvital opened #859 "Cannot attach a new disk when editing a guest."
Could not attach a new empty disk when editing a guest. The following error is prompt to user in UI:

[code]

Looking the API requests, a new disk is created in 'default' storage pool, but when trying to attach the disk to the VM, it's selected a different storage pool.

[2016-03-08 21:02] pvital commented on #859
Patch submitted to ML.

[2016-03-08 22:26] #849 closed

[2016-03-08 22:26] #859 closed

[2016-03-09 09:02] jadibou commented on #852
Hello

curl -u user:password -H "Content-Type: application/json" -H "Accept: application/json" https://localhost:8001/plugins -k
[
  "kimchi",
  "gingerbase",
  "ginger"

[2016-03-09 13:56] Truja commented on #771
@alinefm  you can close this issue. It if already fixed.

[2016-03-09 18:33] alinefm commented on #771
Fixed by 4d7b0a0a10ff13f5a9c3ec5b5cc3c054b15a26f6

[2016-03-09 18:33] #771 closed

[2016-03-09 18:44] alinefm commented on #853
Fixed by https://github.com/kimchi-project/gingerbase/commit/10d4ec5737a860e8afa4a7714dd7a3be93a329b4

[2016-03-09 18:44] #853 closed

[2016-03-09 18:45] alinefm commented on #853
Hi @impo!

To get the fix, you will need to get the gingerbase upstream code or wait for 2.1 release (Mar 25th)

[2016-03-09 18:48] alinefm commented on #752
Fixed by https://github.com/kimchi-project/wok/commit/f87d5064c4020cd4bfeab1c610814fc832e96538

[2016-03-09 18:48] #752 closed

[2016-03-09 20:44] alinefm commented on #821
Closing based on last comments.

[2016-03-09 20:44] #821 closed

[2016-03-09 20:46] alinefm commented on #821
The  /lib/systemd/system/kimchi.service file was already ficed by 2.1 release according to #816

[2016-03-09 20:53] computergeek125 commented on #821
So that would explain it: Ubuntu is using a version of 1.5.0 in their repo (1.5.0-0ubuntu1)

[2016-03-10 22:31] overcookedTOFU opened #860 "Support Guest Autostart"
Feature Request: Kimchi should allow the user to enable/disable guest autostart.

Currently Kimchi does not provide a way for the user to control whether or not a guest will boot alongside the host.  It should do so.  This feature would make it easy to ensure that guests are online after a reboot.

Resources:
http://libvirt.org/sources/virshcmdref/html/sect-autostart.html
Please see how another pr

[2016-03-11 20:23] DeviantEng commented on #860
+1 for this feature.

[2016-03-14 15:20] alinefm commented on #860
Hi @overcookedTOFU

Yeap! I agree it is an important feature. As we are on code freeze for 2.1 release, it may be part of the next Kimchi releases.

[2016-03-14 15:23] alinefm commented on #852
Could you check on Firebug if there is any JS error?

I am not sure on what is wrong there.

[2016-03-14 17:53] alinefm commented on #815
Hi @ramonmedeiros

Which error is displayed?

[2016-03-14 18:03] alinefm commented on #803
Fixed by https://github.com/kimchi-project/wok/commit/4d7b0a0a10ff13f5a9c3ec5b5cc3c054b15a26f6

[2016-03-14 18:03] #803 closed

[2016-03-14 18:06] alinefm commented on #800
Fixed by 96f1c491

[2016-03-14 18:06] #800 closed

[2016-03-14 18:11] alinefm commented on #750
Hi @mcvax

The --recursive option on git-clone is to clone the git-submodules associated to a given repository.
Kimchi does not have any git-submodule but Kimchi *is* a git-submodule of Wok project.
Because that, the instructions guide user to use git-clone --recursive on Wok repository.

About python-magic, it is already listed as required in the documentation and package build process.

I will c

[2016-03-14 18:11] #750 closed

[2016-03-14 20:20] alinefm commented on #693
It is the same of #833

[2016-03-14 20:20] #693 closed

[2016-03-14 20:26] alinefm commented on #650
HI @chandrureddy

Could you verify on Scenario 2 if restarting wokd service solves the issue?
I reported an issue related to that some time ago #858

[2016-03-15 14:46] sstoppler commented on #847
Can you please take a look at this?  Another problem seen with the Save button which may be related is the following:

When we edit an Guest for adding PCI devices , the necessary changes are not instantly reflected in GUI, neither the Save button is enabled to apply the changes.

The changes in the device that are added/removed from the guest, are reflected in the Guest's XML file, which can be v

[2016-03-15 16:21] alinefm commented on #768
Fixed by 74fab9e91cddbfa6b037d29d0c3fe58e5f84c2c1

[2016-03-15 16:21] #768 closed

[2016-03-15 16:24] alinefm commented on #677
Hi @abhiramkulkarni

The storage volume delete functionality is already implemented on backend. We are waiting on UI to have it announcement.
We have a specific issue to cover storage volume management UI (#833). I will close this issue by now.

[2016-03-15 16:24] #677 closed

[2016-03-15 16:42] samhenri commented on #847
Hi, the save button for tabs that have inline editing is disabled by default because the actions are done in each row. We can change that in the future but for now I think we should put a feedback message

I've updated the table once a device is enabled or disabled but right now I'm unable to test it here. I'm going to test in a different machine that has VT-x enabled

[2016-03-15 18:54] scrat14 opened #861 "CentOS 7 image not recognized"
CentOS 7 x86_64 minimal ISO is labeld "CentOS 7 x86_64", so operating system is not recognized by Kimchi.

[2016-03-15 21:09] samhenri commented on #847
Just sent a patch to the mailing list

[2016-03-15 21:09] samhenri commented on #818
Patch sent to the mailing list.

[2016-03-15 21:10] samhenri commented on #809
Patch sent to the mailing list. Library necessary to fix the filter was applied in Wok.

[2016-03-16 12:26] pvital opened #862 "Incomplete (wrong) information displayed for existing template when adding new Guest"
Virtualization -> Guests -> Add a Guest" panel currently shows incomplete information on the defined templates available.

Number of CPUs and Memory is not correct/displayed.

![screenshot from 2016-03-16 09-24-46](https://cloud.githubusercontent.com/assets/699330/13812114/f5b3fbd4-eb58-11e5-9429-e03d94fed98f.png)

[2016-03-16 14:06] alinefm commented on #862
Fixed by 38d71862669bc3bd6f3dc51cfea61cbe5e7c84fd

[2016-03-16 14:06] #862 closed

[2016-03-16 14:22] alinefm commented on #808
Fixed by 3557365fbc43275dadc0acb0aad3eef5a8192d8d

[2016-03-16 14:22] #808 closed

[2016-03-16 14:23] alinefm commented on #807
Fixed by 3557365fbc43275dadc0acb0aad3eef5a8192d8d

[2016-03-16 14:23] alinefm commented on #815
Seems it is duplicated of #808

[2016-03-16 14:24] #815 closed

[2016-03-16 14:24] alinefm commented on #815
Please, feel free to reopen if the problem persists.

[2016-03-16 17:01] #807 closed

[2016-03-16 18:34] #847 closed

[2016-03-16 19:54] samhenri commented on #814
Not sure if I "fixed" this issue yet, can you apply the patch I've sent to the ML and try again? I've exported two different directories in a NFS server and noticed some bugs with the IP address and NFS path dropdowns when the list is empty and sent a patch to fix them.

[2016-03-17 12:58] alinefm commented on #814
Fixed by 919de4fd40a5e9cf089c2c509d2f167952c980b0

[2016-03-17 12:58] #814 closed

[2016-03-17 16:37] #809 closed

[2016-03-17 16:38] #818 closed

[2016-03-17 20:39] lxp commented on #827
Kimchi is already in Ubuntu.
http://packages.ubuntu.com/search?keywords=kimchi&searchon=names&suite=all&section=all

It is based on the Debian package, which is not yet in the official repos. I am not sure exactly why. Frederic Bonnard seems to already have put a lot of effort into it.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=772823
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=800966

[2016-03-17 20:49] lxp commented on #827
Great! It looks like @frediz is still working on it: https://github.com/frediz/kimchi/tree/debian-2.0.0

[2016-03-17 21:00] lxp opened #863 "Kimchi is not listed on libvirt.org"
Kimchi should be listed on this page: https://libvirt.org/apps.html

[2016-03-17 22:50] Truja commented on #840
Patch sent to ustream

[2016-03-18 13:45] #788 closed

[2016-03-18 15:33] #840 closed

[2016-03-19 10:43] joshuaswarren commented on #848
I'm having the same issue, with the exact same stack trace.

I'm not sure about @behigh, but in my case, the info you asked for @alinefm is:

OS: Centos 7
Wok version: I'm not sure? It looks like there's no wokd --version command and running wokd doesn't show the version.
Kimchi version: 2.0.0-0

The virtual machines were created under Kimchi, but it was under Kimchi v1. The VMs are definitely sti

[2016-03-19 10:58] joshuaswarren commented on #848
FYI, after reading issue 792, I temporarily moved /var/lib/kimchi/objectstore so that Kimchi recreated the file. Oddly enough, the "The server encountered an unexpected condition which prevented it from fulfilling the request." error still appears but Guests are now listed correctly on the Guests page, so it seems like this might be a similar upgrade-related objectstore problem?

[2016-03-19 13:34] behigh commented on #848
Hi, @alinefm
Os Centos 7
Kimchi: 2.0.0 installed from rpm
VMs created under Kimchi v1
The situation is similar to @joshuaswarren

[2016-03-22 13:56] alinefm opened #864 "[Accessibility: Visual formatting] The power icon is the only reference to attach an PCI device to a guest"
The power icon should be followed by a text explaining what it is for.

![372ce784e4a5aa2a](https://cloud.githubusercontent.com/assets/4921718/13953844/c402fd10-f01c-11e5-9771-46681fdc7b15.jpg)

[2016-03-22 14:06] alinefm opened #865 "[Accessibility: Visual formatting] The only way to identify a network is up is by a green power icon"
Similar to https://github.com/kimchi-project/ginger/issues/245 and https://github.com/kimchi-project/ginger/issues/246

![5eaa5f22c6302417](https://cloud.githubusercontent.com/assets/4921718/13954097/0fe59336-f01e-11e5-96ac-0c32b9820662.jpg)

[2016-03-22 14:33] alinefm commented on #864
The same behavior is identified to detach the device.

![80b267fc-f01d-11e5-8beb-fcf07322f0f5](https://cloud.githubusercontent.com/assets/4921718/13955013/da2dbf6c-f021-11e5-84fc-cc5d9446a1d6.png)

Also, a green power icon is added to represent the device is active in the given guest.

[2016-03-22 14:36] alinefm opened #866 "[Accessibility: Visual formatting] The only way to identify a network is active is by a green power icon"
Similar to #865

![31738e3a3b7b69b1](https://cloud.githubusercontent.com/assets/4921718/13955144/5fdf39a6-f022-11e5-80c0-3bc7b9249ca0.jpg)

[2016-03-22 16:51] alinefm opened #867 "[Accessibility: Visual formatting] Unable to identify which template is selected when removing color from text and images"
To configure the browser to remove color from text:

For Firefox:
    Select Edit >Preferences
    On the Content tab, in the Fonts & Colors section, select the Colors… button.
    In the Colors dialog box, select the Use system colors checkbox, and set the Override the colors specified by the page with my selections above drop down to Always.
    Select OK to save changes.
    Select OK to exit t

[2016-03-22 17:20] alinefm opened #868 "[Accessibility: Visual formatting] Unlabeled information on storage volume"
The percentage of usage for a storage volume is displayed without any label explaining  what it is for.
The full icon may be let the user understand it is about %used, but when removing color images that information is lost.

For Firefox:

    Select Edit > Preferences…
    On the Content tab, in the Fonts & Colors section, select the Colors… button.
    In the Colors dialog box, select the Use sy

[2016-03-22 18:19] overcookedTOFU opened #869 "Support ZFS Storage Backend"
Feature Request: Kimchi should support the ZFS storage backend when available.

Ubuntu will support the ZFS filesystem in 16.04 LTS.  Kimchi should make use of ZFS via the latest version of libvirt (packaged in 16.04 LTS with support for ZFS).

ZFS's advanced data integrity features, snapshots, and copy-on-write cloning make it a good choice for a VM storage backend.

Thanks!

Resources:
Libvirt R

[2016-03-22 20:35] ghidasy opened #870 "Keyboard navigation is impossible"
Its impossible to navigate on Kimchi using only the keyboard.

Naively trying to use Tabs is frustrating as the focus don't move to all elements, and once they exit the tabs bar its impossible to return with it. In the Guests screen it can only select the power-off button when the machine is off, and when the machine is on only the restart button from each machine, and in the Templates and Network

[2016-03-22 21:00] alinefm opened #871 "[Accessibility: Visual formatting] Low contrast on Kimchi second level tab"
![2f9afb06a6325c5a](https://cloud.githubusercontent.com/assets/4921718/13967817/dee22404-f057-11e5-96ee-baf74fd2ec87.jpg)

![3c1db767240db8aa](https://cloud.githubusercontent.com/assets/4921718/13967822/e2a92218-f057-11e5-8e88-59572d2a018a.jpg)

[2016-03-23 02:33] alinefm opened #872 "[Accessibility: Visual formatting] Low contrast on input box help"
![52066f578354f343](https://cloud.githubusercontent.com/assets/4921718/13973929/6b648286-f086-11e5-9b5b-b063abc0838e.jpg)

![115cb0697de15d5c](https://cloud.githubusercontent.com/assets/4921718/13973933/6f9cb274-f086-11e5-88c9-0f738ae341dc.jpg)

[2016-03-23 02:37] alinefm commented on #872
It probably needs to be fixed on Wok widget.

[2016-03-23 02:38] alinefm opened #873 "[Accessibility: Visual formatting] Low contrast on "View Console" link"
![3ca58c60525a3bd2](https://cloud.githubusercontent.com/assets/4921718/13974044/311a2fbc-f087-11e5-953c-d56b3a343270.jpg)

![7d9ac53165b8e3dc](https://cloud.githubusercontent.com/assets/4921718/13974049/3a6f286a-f087-11e5-8c82-c862318a9620.jpg)

[2016-03-23 14:27] alinefm commented on #870
Hi @ghidasy

Could you separate issues for the keyboard navigation?

Example, problems in the navigation bar should be reported on Wok as it is build by Wok.
Problems in Kimchi main content should be reported here.
Problems in Ginger main content should be reported on Ginger.
Problems in GingerBase main content should be reported on GingerBase.

In addition to the main content, we also need to mak

[2016-03-23 15:38] ghidasy commented on #870
Ok, will close this issue and create more specific ones

[2016-03-23 15:38] #870 closed

[2016-03-23 15:53] ghidasy opened #874 "[Accessibility: Keyboard] Dropdown menus are inaccessible by keyboard only"
Using the fedora package.

Drop-down menus are inaccessible by keyboard in any way, except in the network tab where inexplicably they word well, but once they are opened, can be used by tabs or by the helper

Attached screenshot of keyboard helper being used. Note how the dropdowns (both the actions and the down arrow)  are not highlighted with the little red number. This menus can't be accessed b

[2016-03-23 16:36] ghidasy opened #875 "[UI] Error message KCHISO0008E (and possibly others) fade-out timer"
The red box with the text for error message KCHISO0008E disappears in 5 seconds, even if the user tries to stop it by mouse click or hover.

Its a large message, this fade out is too fast to be read and understood, requiring the user to cause the error multiple times, copy the content of the message and paste it in an editor or screenshot it to react accordingly.

[2016-03-23 21:01] #838 closed

[2016-03-23 21:56] alinefm commented on #837
Fixed by 13dc7a32cffafc3e86241934c2235c2a78241b52

[2016-03-23 21:56] #837 closed

[2016-03-23 23:45] sstoppler commented on #791
Fixed by https://github.com/kimchi-project/kimchi/commit/9aca4d7e2334a623f9c3a040a992845934af9c1e

[2016-03-24 00:38] #791 closed

[2016-03-24 06:22] atreyeemukhopadhyay opened #876 "[Accessibility: Error Identification] No error identification for storage path in Add storage page"
while adding a storage, no validation is available invalid storage path. Error message is displayed behind the add storage modal box. required format is also not displayed.

![add storage 1](https://cloud.githubusercontent.com/assets/13199397/14009957/cb33c538-f1b6-11e5-9cc1-b79f0dc3862c.jpg)

[2016-03-24 06:55] atreyeemukhopadhyay opened #877 "[Accessibility: Error Identification] No error identification for input fields in Add volume for existing storage."
while adding a volume, no validation is available invalid remote url path. Error message is displayed behind the add storage modal box. required format is also not displayed.

![add vg](https://cloud.githubusercontent.com/assets/13199397/14010471/7b81f1ea-f1bb-11e5-90f6-20438b4e06a6.jpg)

[2016-03-24 07:04] atreyeemukhopadhyay opened #878 "[Accessibility: Error Identification] No error identification for Network Name in Add Network page."
while adding a network,required field Network name is not getting auto focused when no value is provided
![add network](https://cloud.githubusercontent.com/assets/13199397/14010611/b37f143c-f1bc-11e5-98bf-8814e15f5492.jpg)

.

[2016-03-24 07:37] atreyeemukhopadhyay opened #879 "[Accessibility: Error Identification] No error identification for file path in Add template page."
while adding a template, required format for the input field is not displayed and field auto focusing not happening.

![add template 1](https://cloud.githubusercontent.com/assets/13199397/14011055/4d8ab262-f1c1-11e5-9a2b-970ca5e6f7b0.jpg)
![add template 2](https://cloud.githubusercontent.com/assets/13199397/14011056/4d90fb90-f1c1-11e5-8c11-3a3cfc6d1ec9.jpg)

[2016-03-24 10:26] atreyeemukhopadhyay opened #880 "[Accessibility ] Lang attribute in Guests html page contains in valid value."
Lang and/or xml:lang attribute on any element on the page is used to identify the language.
Language tag syntax is defined by the IETF's BCP 47.

[2016-03-24 10:29] atreyeemukhopadhyay opened #881 "[Accessibility] Files inclusion not nested in <Head> tag of Guests html"
All js/css file inclusion must be nested between and tags as per the recommendation by w3schools.

[2016-03-24 10:30] atreyeemukhopadhyay opened #882 "[Accessibility ] Use a public text identifier in a DOCTYPE statement in all Guests, Template , Network & storage html."
The !DOCTYPE declaration is a top-level tag-like reference known as a Public Text Identifier. It appears at the very beginning of an HTML document in order to identify the content of the document as conforming to a particular HTML DTD specification.

The quoted segment within a !DOCTYPE declaration is called a Formal Public Identifier (FPI.) Every distinct DTD variation will have its own unique FP

[2016-03-24 10:32] atreyeemukhopadhyay opened #883 "[Accessibility ] Content-Type meta tag must be the first meta tag in the <head> tag of Guests, Template, Network, Storage"
This [meta] tag should be the first in the HEAD section, because the server will process the text above as ASCII with no specific format that it only known once the tag is analyzed.

[2016-03-24 10:35] atreyeemukhopadhyay opened #884 "[accessibility] META tag must contain "NAME" or "HTTP-EQUIV" and "CONTENT" attribute must be set to a valid"
The META tag is primarily used to help search engines better index a document by supplying additional information about the document. The types of additional information that META tags can provide include an author's name, a description or short abstract of a document, or a set of keywords for indexing a document.

[2016-03-24 11:47] atreyeemukhopadhyay opened #885 "[accessibility]Form tag must have an ACTION attribute with a valid value"
Any  <form> tag must have an ACTION attribute with a valid value i.e get/post/put

[2016-03-24 11:49] atreyeemukhopadhyay opened #886 "[Accessibility] Form METHOD attribute must be set."
any <form> METHOD attribute must be set to post/get/put .

[2016-03-24 11:52] atreyeemukhopadhyay opened #887 "[Accessibility : Alternative content ]Each input form control in Add template page must have associated text"
Add template page form input elements are not associated with alternative text.

[2016-03-24 11:56] atreyeemukhopadhyay opened #888 "[Accessibility : Alternative content] Filter field in Storage page does not havr alternative content"
Storage filter input text field does not have any alternative text

[2016-03-24 11:59] atreyeemukhopadhyay opened #889 "[Accessibility : Alternative content] Input field in Add volume page does not have alternative content"
Input fields in Add volume page does not have alternative content.

[2016-03-24 12:00] atreyeemukhopadhyay opened #890 "[Accessibility : Alternative content] Filter field in network page does not have alternative content"
Filter field in Network page does not have alternative content

[2016-03-24 14:13] alinefm opened #891 "[Accessibility: Resize text] Guest information displayed in 2 lines when zoom 200%"
![49f4ab5986494bca](https://cloud.githubusercontent.com/assets/4921718/14019419/6eddec82-f1b1-11e5-8f79-0c6524d1aec5.jpg)

[2016-03-24 14:15] alinefm opened #892 "[Accessibility: Resize text] Unable to manage PCI devices and snapshots when zoom 200%"
The tabs for PCI Device and Snapshot are not displayed when zoom 200%

![4cfd4a40563e6034](https://cloud.githubusercontent.com/assets/4921718/14019475/bf901f10-f1b1-11e5-8083-c5e131d07a59.jpg)

[2016-03-24 14:18] alinefm opened #893 "[Accessibility: Resize text] Unable to manage guest storage when zoom 200%"
![5bdf0719b557bf6d](https://cloud.githubusercontent.com/assets/4921718/14019525/0205ccdc-f1b2-11e5-84a6-00d9a7a3c483.jpg)

[2016-03-24 14:19] alinefm opened #894 "[Accessibility: Resize text] Unable to manage guest interfaces when zoom 200%"
![5e9af195de926030](https://cloud.githubusercontent.com/assets/4921718/14019570/3259a066-f1b2-11e5-9e6a-ee3085381855.jpg)

[2016-03-24 14:20] alinefm opened #895 "[Accessibility: Resize text] Unable to change guest permission when zoom 200%"
There is no way to add/remove users and groups to a guest.
Only the first panel is displayed.

![353e794cd63109f6](https://cloud.githubusercontent.com/assets/4921718/14019617/756458b0-f1b2-11e5-8134-e0515f153f26.jpg)

[2016-03-24 14:29] alinefm opened #896 "[Accessibility: Resize text] Unable to see all template information when adding guest with zoom 200%"
![4f14651d42c51708](https://cloud.githubusercontent.com/assets/4921718/14019937/b79b4d0a-f1b3-11e5-80ee-684e4480b36b.jpg)

[2016-03-24 14:32] alinefm opened #897 "[Accessibility: Resize text] Template list view is a mess when zoom 200%"
![228079f414e54bb9](https://cloud.githubusercontent.com/assets/4921718/14019997/01bf5322-f1b4-11e5-8f9d-7f9648e9958c.jpg)

[2016-03-24 14:34] alinefm opened #898 "[Accessibility: Resize text] Unable to edit all Template information when zoom 200%"
Only General, Storage and Interface tabs are displayed.

![124ed90bbf70e34f](https://cloud.githubusercontent.com/assets/4921718/14020098/4d46c50a-f1b4-11e5-96f3-1fa5e073b3f7.jpg)

[2016-03-24 14:36] alinefm opened #899 "[Accessibility: Resize text] Unable to manage storage and interface on Template when zoom 200%"
The control buttons are hidden on the right page.

![2c2ad47b27843e0f](https://cloud.githubusercontent.com/assets/4921718/14020158/a774736a-f1b4-11e5-9dbe-854032e2b147.jpg)

![4b1329d177cd814d](https://cloud.githubusercontent.com/assets/4921718/14020164/ad755342-f1b4-11e5-978c-4406a2c18e32.jpg)

[2016-03-28 14:04] ghidasy opened #900 "[Accessibility: Keyboard] Restart and PowerOff buttons on Guests tab"
When this buttons are clicked a pop-up menu asks for confirmation.

This menu is not focused by default, making for a poor navigation experience (the user must cycle though the whole interface to reach the menu and confirm the command)

[2016-03-28 15:00] atreyeemukhopadhyay opened #901 "[Accessibility ] Lang attribute in all html pages contains in invalid values."
Lang and/or xml:lang attribute on any element on the page is used to identify the language.
Language tag syntax is defined by the IETF's BCP 47.

[2016-03-28 15:01] atreyeemukhopadhyay commented on #901
existing issue

[2016-03-28 15:01] #901 closed

[2016-03-28 15:03] atreyeemukhopadhyay opened #902 "[Accessibility]All content must reside within a WAI-ARIA landmark or labelled region role."
The WAI ARIA specification defines a set of specialised “landmark” roles. These roles provide a method to programmatically identify commonly found sections of web page content in a consistent way.This allows assistive technologies to provide users with features which they can use to identify and navigate to sections of page content.

[2016-03-28 15:04] atreyeemukhopadhyay opened #903 "[accessibility] Improper WAI-ARIA implementation for keyboard navigation"
Along with WAI-ARIA role, state we need to use tabindex attribute also to make it accessibible through keyboard.

[2016-03-28 17:30] pvital commented on #845
Just tested Wok, Gingerbase and Kimchi 2.1.0 (released last Friday) RPM files in a fresh CentOS 7.2 system. I could, with no problems, install all packages and start up the service.

To reproduce my tests:

1. install wok RPM and start wok.service
2. install gingerbase RPM and restart wok.service
3. install kimchi RPM and restart wokd.service

One important thing to mention is that, after Kimchi i

[2016-03-28 17:43] atreyeemukhopadhyay opened #904 "[Accessibility]The WAI-ARIA property is not supported global property on elements that does not have a WAI-ARIA role."
In order to use any WAI-ARIA property/states in any element,we need to assign WAI-ARIA role to the element.

[2016-03-28 17:46] atreyeemukhopadhyay opened #905 "[Accessibility]WAI-ARIA property aria-labelledby on element div having invalid id"
We need to provide a valid existing DOM element id in any WAI-ARIA property. Non-existing DOM element id cannot be provided.

[2016-03-28 17:57] atreyeemukhopadhyay opened #906 "[Accessibility]The WAI-ARIA property is not supported global property on elements that does not have a WAI-ARIA role."
In order to use any WAI-ARIA property/states in any element,we need to assign WAI-ARIA role to the element.

[2016-03-28 18:02] atreyeemukhopadhyay opened #907 "[Accessibility]Form control fields should be nested between <FORM> and </FORM> tags."
Fieldset/Label/Legend Tags must be nested between <FORM> and </FORM> tags.

[2016-03-28 20:40] ghidasy commented on #874
Closed because the new design fixed this issues. Fedora Package is outdated

[2016-03-28 20:40] #874 closed

[2016-03-28 20:54] ghidasy commented on #900
Closed as it was solved in the new interface

[2016-03-28 20:54] #900 closed

[2016-03-29 14:41] Truja commented on #861
I have just sent a new patch to fix this:
[PATCH][Kimchi] Add support to recognize latest	CentOS version

[2016-03-29 17:11] alinefm commented on #861
Fixed by 283468560b68731a7f2a7e82f438d52bcd887e19

[2016-03-29 17:11] #861 closed

[2016-03-30 05:06] ikogan opened #908 "Allow specifying disk cache mode as some filesystems do not support O_DIRECT."
ZFS on Linux, namely, does not support direct I/O so the default cache mode of "none" causes VMs to fail to start. The VM XML configuration must then be edited manually for each VM. It should be possible to set the cache mode in the GUI, or, at least, set the default in some configuration file.

Currently, you have to edit `xmlutils/disk.py`, which is fairly undesirable when installed as a system

[2016-03-30 13:50] Nagamani71 opened #909 "[Accessibility : Focus & Sequence] Following Header items are not focused , while navigating through keyboard"
![accessibility18](https://cloud.githubusercontent.com/assets/17590096/14144176/4206f370-f6ac-11e5-8117-cb410187b81c.PNG)

[2016-03-30 13:53] Nagamani71 opened #910 "[Accessibility : Keyboard & Navigation] "create a new virtual machine" dailog boxe in virtualization page is not getting closed when we click "Esc""
![accessibility19](https://cloud.githubusercontent.com/assets/17590096/14144322/d81c625a-f6ac-11e5-830f-305031bbdb1e.PNG)

[2016-03-30 13:59] Nagamani71 opened #911 "[Accessibility : Focus & Sequence] Following frameset items are not focused , while navigating through keyboard and "Esc" functionality(closing the dialogue box) is not working"
![accessibility20](https://cloud.githubusercontent.com/assets/17590096/14144494/91074370-f6ad-11e5-978b-2adcc372c035.PNG)

[2016-03-30 14:09] Nagamani71 opened #912 "[Accessibility : Keyboard & Navigation] "storage pool type" drop down box is not getting closed when we moved to next item in virtualization page and dailogebox is not getting closed when we click "Esc""
![accessibility21](https://cloud.githubusercontent.com/assets/17590096/14144840/0df26f12-f6af-11e5-9462-de9c1d62c9d9.PNG)

[2016-03-30 14:13] Nagamani71 opened #913 "[Accessibility : Keyboard & Navigation] control (navigation) is not focusing "Disks" item , from "filter" item it is directly moving to "Actions" menu items"
![accessibility22](https://cloud.githubusercontent.com/assets/17590096/14145009/bcc19554-f6af-11e5-8ce4-04bf0fd535d0.PNG)

[2016-03-30 14:19] Nagamani71 opened #914 "[Accessibility : Keyboard & Navigation] moving to next item in "Actions" menu using "up and down key" features are missing"
![accessibility23](https://cloud.githubusercontent.com/assets/17590096/14145162/713d8ee8-f6b0-11e5-9236-1b5dcddb3caa.PNG)

[2016-03-30 14:22] Nagamani71 opened #915 "[Accessibility : Focus & Sequence] Following items in storage tab are not focused , while navigating through keyboard"
![accessibility24](https://cloud.githubusercontent.com/assets/17590096/14145280/eae7b32c-f6b0-11e5-9a1f-83c36956dc1c.PNG)

[2016-03-30 14:25] Nagamani71 opened #916 "[Accessibility : Keyboard & Navigation] following menu items are remain open when we move to next item via tab key and dialogue box is not getting closed with "Esc" key"
![accessibility25](https://cloud.githubusercontent.com/assets/17590096/14145408/5dab56a2-f6b1-11e5-8aca-7f2d6d4ec147.PNG)

[2016-03-30 14:27] Nagamani71 opened #917 "[Accessibility : Focus & Sequence] Focus is missing for following frameset items"
![accessibility26](https://cloud.githubusercontent.com/assets/17590096/14145470/a23a2000-f6b1-11e5-9247-51a45b785b01.PNG)

[2016-03-30 14:29] Nagamani71 opened #918 "[Accessibility : Keyboard & Navigation] unable to move to next tab in header menu using "left and right arrow keys""
![accessibility27](https://cloud.githubusercontent.com/assets/17590096/14145559/f35946d2-f6b1-11e5-9047-067960351abd.PNG)

[2016-03-30 18:58] jrziviani opened #919 "Deactivate a storagepool makes the list of templates blank"
Go to "Virtualization" → "Templates", you should see a list of templates, if not create a template.

![image](https://cloud.githubusercontent.com/assets/670087/14153791/b16b643e-f68f-11e5-9855-4d7e2f7e9add.png)

Now, go to "Storage" and deactivate a storage pool that one of your templates is using.

![image](https://cloud.githubusercontent.com/assets/670087/14153856/00efa362-f690-11e5-9ea3-57b15f7

[2016-03-30 19:09] jrziviani opened #920 "Template is removed if an ISO doesn't exist anymore"
Navigate to "Virtualization" → "Templates" → "Add Template"

![image](https://cloud.githubusercontent.com/assets/670087/14154031/d9607e88-f690-11e5-9090-9b6d700197b3.png)

Create a new template, then rename the distro ISO used to create that template.

![image](https://cloud.githubusercontent.com/assets/670087/14154067/0b1159de-f691-11e5-8b9e-6ba4dd364938.png)

`# mv ubuntu-15.10-server-amd64.iso

[2016-03-30 20:00] jrziviani commented on #919
The problem is basically this code

[code]

It doesn't 'validate', it simply returns the pool and I didn't understand why it throws an exception if a pool is not active. A libvirt error is indeed an exception, something not expected but a pool not active is a valid state.

It should be the caller responsibility to define what to do when the pool is not active.

[2016-04-06 14:02] finish06 opened #921 "Peers button disappears"
Issue: when i click the peers downward arrow, it immediately disappears, no dialogue box opens.

Tried the following to ensure everything in federation was set up correctly - SUCCESS. KVMhost1 finds KVMhost3
`curl -u <user:password> -H "Content-Type: application/json" -H "Accept: application/json" -k https://localhost:8001/plugins/kimchi/peers`

No errors show in Firebug for JS.  The information a

[2016-04-07 02:57] hanjiabao opened #922 "could i use http://localhost:8001 to get all pages and data"
how to change https to http to get webpage?$.ajax() may use http receive data from fedora or ubuntu,if couldn't use http,what for the reason.

[2016-04-07 14:20] jrziviani commented on #919
Sent a patch for review, that will address this problem whatever state the pool is. So, instead of that blank page, all templates are displayed with the 'invalid' field filled correctly:

![image](https://cloud.githubusercontent.com/assets/670087/14354132/87999044-fcb2-11e5-936d-f1b21df8f2f1.png)
(in this case, ext3_pool is not active and ISO pool was removed)

[2016-04-07 15:50] jrziviani commented on #920
I'm working on it

[2016-04-07 15:52] jrziviani opened #923 "Template always show VNC, even if I save Spice in my template"
If you edit your template and change the graphic type to Spice instead of VNC it will save correctly but if you open the edit box again you will see VNC again. (if you don't pay attention and save the template, VNC will overwrite the Spice).

[2016-04-07 15:53] jrziviani commented on #923
I'm working on it

[2016-04-07 17:40] gbulfon commented on #742
Hi, I'm porting your wokd/kimchi to our XStreamOS / illumos.
Where do I get these fonts? How can I install them? I need to package them in my distro.

[2016-04-07 19:24] jrziviani opened #924 "Before deleting a storagepool, kimchi should check if any template is using that."
Kimchi is not checking it a storage pool is currently in use by any template before deleting it.

[2016-04-07 21:33] pvital commented on #742
@gbulfon the source code are here at GitHub. Just clone the projects and you'll have the source code available to you.

Take a look at the README.md file of https://github.com/kimchi-project/wok to know how to build it, and take a look at the wiki page https://github.com/kimchi-project/wok/wiki/How-to-Work-with-Wok-Submodules to understand how wok and its plugins are connected.

[2016-04-08 08:17] gbulfon commented on #742
Hi Paulo,

I already built and packaged the software in my OS, but on startup now it fails looking for OpenSans, same problem as RockoPB, but I don't have that package on my OS, I need to build it too.
Can you provide me a link to the OpenSans package source to be built and packaged?
Or, is there any way to change that requirement to another font I already have?
Thanks!

[2016-04-08 15:10] gbulfon commented on #742
I got it ;) downloaded and packeged to install under /usr/share/fonts/... and it works as an illumos service now :)
time for the kimchi now

[2016-04-11 01:58] alanlaird commented on #845
Hello @pvital, could you provide the URLs you are installing the RPMs from to get your result?  I'm seeing what looks like an nginx config issue in the list of RPMs published for the 2.1 release here:
http://kimchi-project.github.io/wok/downloads/wok-2.1.0-0.el7.noarch.rpm
http://kimchi-project.github.io/gingerbase/downloads/ginger-base-2.1.0-0.el7.noarch.rpm http://kimchi-project.github.io/kimchi

[2016-04-11 13:23] pvital commented on #845
Hello @alanlaird

I used the same URLs you posted to install and run Wok, Gingerbase and Kimchi on my CentOS system. Follow are the md5sum of the RPM files I downloaded and installed:

[code]

I installed them, using yum to resolve all necessary dependencies my system needed.

The RPM files were not built by github or any service provided by github pages. The maintainers of the projects built them

[2016-04-11 21:13] jrziviani commented on #924
I'm working on it

[2016-04-12 18:24] #923 closed

[2016-04-13 00:58] RmsMit opened #925 "template create from local image fails "unexpected condition"
After install of kimchi 2.1 on centos7 box the GUI works OK and I log in and see the VMs (previously configured in virt-manager) however when I goto create template and select local image and enter "/var/lib/libvirt/images/Base_images/BASE_winXP.qcow2" as the file path the create process fails showing the following error on the web GUI

**The server encountered an unexpected condition which preven

[2016-04-13 22:15] abarlam opened #926 "Windows Versions 8+ BSOD system_thread_exception on Install and Boot"
When trying to boot any Windows iso > v 8, I would get a BSOD and constant reboot saying Windows will
"Restart to repair drive errors".

I ended up having to use virsh edit "vm-name" command and then adding the following:

`<features>
  <kvm>
      <hidden state='on'/>
    </kvm>
  </features>
  <cpu mode='custom' match='exact'>
    <model fallback='allow'>core2duo</model>
    <feature policy='req

[2016-04-14 09:03] romu70 opened #927 "Feature-Request: Show the VM size on the host"
Hi,
Kimchi is great, really, thanks to the team!

It could be even better. Problem with KVM ans QCOW is the files on the host storage can get very big and will need some shrinking procedure. So it would be nice if we could see the VM size on the physical storage in the Kimchi interface.

[2016-04-14 16:28] jrziviani opened #928 "Disabled button triggers actions on storage tab"
Navigate to **Storage** tab, click on **Actions** and select a disabled button, like the screenshot bellow:

![image](https://cloud.githubusercontent.com/assets/670087/14535487/7e902a8e-0244-11e6-8504-25b91704f062.png)

The button will work like enabled:

![image](https://cloud.githubusercontent.com/assets/670087/14535533/b7000d9e-0244-11e6-9236-819659ce9bb9.png)

[2016-04-14 17:28] Truja opened #929 "[UI] Guest tab always refreshes backing to the top"
There is an annoying problem in the Guest tab.
If your list of vms is big enough to make you roll the page down to see bottom vms, when the page refreshes, it is going back to the top of the list.
You have to roll down the page again and again to each refresh.

The refresh should keep the page position where the user is currently looking at.

[2016-04-14 20:19] ramonmedeiros commented on #922
I did not understand your question, but, when i run curl, usually point to localhost:8010, where the server runs in plain text. To get all templates, for example, you can run:

curl -u root -H "Content-Type: application/json" -H "Accept: application/json" -k http://localhost:8010/plugins/kimchi/templates -X GET

For mor REST API commands, see API.md

[2016-04-15 00:59] hanjiabao commented on #922
thanks,ramonmedeiros
my OS:Fedora release 22 (Twenty Two), kimchi version:1.5.1,
web url:when i input "{ip}:8000",nginx proxy this url to "https://{ip}:8001",every time i open the web web url is https:{ip}:8001,so i think if i can do some changes in order that nginx proxy url "{ip}:8000" to http://{ip}:8001,not https://{ip}:8001.this web view
what you said is to use curl cmd to display result, and

[2016-04-15 19:49] Styx13 opened #931 "Error when editing a template created using a disk image (raw or qcow2)"
Hello

Currently using Kimchi cc81ef3c41392501bc027731a7da3fe676f96d2c and I noticed an error when trying to edit a template that has been created using a disk image.

Steps to reproduce the error:
1) create a template using a disk image (pick Local Image File and give the full path to a raw image)
2) once the template is created, selection action > edit
3) on the edit panel, do any required chang

[2016-04-15 20:33] pvital commented on #931
Hello @Styx13

Yeap, I could reproduce your issue and the reason of the error message is exactly the one you pointed. However, the issue happens because the backend code is not synchronized with fronted UI.

The commits between 8a465f9 and 7d89153 have changed the backend to identify the installation media while creating/editing a template (exactly this part of code you pointed), but the frontend

[2016-04-19 17:02] #924 closed

[2016-04-20 17:54] samhenri commented on #929
I've done some tests before to save the screen position. There are some concerns that make this issue very difficult to tackle. For instance, if a VM is migrating and the user selected to delete the VM once the migration is completed, once the VM list is refreshed it will remove two items from the list, the original VM and the migrating VM. If a VM is cloning, then while the clone task is still ru

[2016-04-20 18:01] #919 closed

[2016-04-20 19:15] #920 closed

[2016-04-20 19:23] ramonmedeiros commented on #931
Patch sent to ML: http://lists.ovirt.org/pipermail/kimchi-devel/2016-April/014592.html

[2016-04-22 08:12] behigh commented on #848
Upgraded to version 2.1 - same error
After deleting `/var/lib/kimchi/objectstore` and restart wok all earned.

[2016-04-26 17:40] #931 closed

[2016-04-26 21:31] pvital commented on #201
RFC submitted to ML
http://lists.ovirt.org/pipermail/kimchi-devel/2016-April/014656.html

[2016-04-26 21:53] pvital commented on #927
@romu70 interesting.

So, only to confirm if I understood well. You want to know on guests tab, the total amount of all disks allocated to a specific VM, right?

[2016-04-27 06:53] romu70 commented on #927
Exactly.

[2016-04-28 17:04] pvital commented on #372
Back-end part committed.
Need UI improvements to be able to create netboot templates.

[2016-04-28 17:45] pvital commented on #372
For UI screen, the proposal is add two ratio buttons before the current content, where user can select between the options to create a netboot template and image template. The image template option must be the default option and selected automatically when user access the screen. When user selects the netboot option, the current content must be hidden.

So, in top of current content, we must have:

[2016-04-28 19:08] samhenri opened #933 "Invalid image path not marking template as "invalid" (back-end)"
Steps to reproduce:

1- Create a new template pointing to an image in file path (ex: /var/lib/libvirt/images/c8fd16b3-fd9b-452f-b4bb-4be9ebe8a011-0-0.img)
2- Rename or remove this file
3- Reload page. Inspecting the templates response in Chrome Dev Tools returns this:
[code]

Expected output:
[code]

(i'm suggesting "vm-image" but it could be anything else, I'm looking for the object keys to map t

[2016-05-02 15:38] samhenri commented on #933
Sent a working v2 for invalid Storage Volume and ISO. I'm unable to check via front-end if the vm-image path is invalid, but if the user attempts to save it the back-end returns an error and enables this input.
As fot the storage volume, I was able to append in the Storage volumes combobox the inactive/wrong storage volume. If the user selects a different storage volume, he won't be able to select

[2016-05-03 02:20] alinefm commented on #841
Fixed by fc9ecd519624cba85e0e92ecec4245555bcc9dbc

[2016-05-03 02:20] #841 closed

[2016-05-03 02:21] alinefm commented on #203
Fixed by fc9ecd519624cba85e0e92ecec4245555bcc9dbc

[2016-05-03 02:21] #203 closed

[2016-05-03 02:22] alinefm commented on #162
Fixed by fc9ecd519624cba85e0e92ecec4245555bcc9dbc

[2016-05-03 02:22] #162 closed

[2016-05-03 12:25] MichaelErmer commented on #812
Same here with ubuntu 16.04

[2016-05-03 18:57] Styx13 opened #934 "Storage Pool name does not support spaces"
I noticed that using Storage Pool names that contains spaces can lead to different kind of weird behavior, such as disappearing storage pool in templates when editing templates.

I would recommend not letting the user define storage pool with spaces in the name (and probably special characters), or tracking down the different places that are handling storage pool name to fix the issue.

Below a fe

[2016-05-05 14:00] overcookedTOFU opened #935 "Enable definition of ZFS storage pools:"
Kimchi should allow users to create a new libvirt storage pool of the zfs type from the "Add a storage" dialog.  For the user, the process should be similar to the LVM type and allow creation from an existing zpool or dataset.

Currently, one can add a zfs dataset named tank/filepool to kimchi using the following commands:

$ virsh
virsh $ pool-define-as --name zfsfilepool --source-name tank/filep

[2016-05-05 14:06] overcookedTOFU opened #936 "Restrict disk creation to valid pool format types on ZFS storage pools"
Like LVM pools, ZFS pools do not support additional format types.  When creating a new template or guest, the format dropdown should not show formats that are not supported.

See libvirt documentation:  https://libvirt.org/storage.html#StorageBackendZFS

![zfs-format-type](https://cloud.githubusercontent.com/assets/591536/15045534/f8e6bc34-12a8-11e6-9a99-b2dc6e5e5860.PNG)

[2016-05-05 14:18] overcookedTOFU commented on #869
After some testing, it looks like ZFS pools/datasets can be used as a storage backend on Ubuntu 16.04 with Kimchi v.2.1.  However, they are not well supported.

A few enhancements (w/issues):
Enable definition of ZFS storage pools: #935
Properly restrict valid pool format types for ZFS storage pools: #936

[2016-05-05 14:33] overcookedTOFU commented on #908
I can confirm that manually editing each VM XML configuration is required on Ubuntu 16.04 if you create a new "dir" storage pool backed by ZFS.  It would be great to see the disk cache mode as setting in the gui.

As a workaround, you can create a zfs storage pool that uses zvols for the backing storage.

See #935 for more info.

[2016-05-05 15:49] #376 closed

[2016-05-05 16:25] overcookedTOFU opened #937 "Cannot add create new disks in zfs storagepool from "storage" dialog."
When creating a new volume in the edit guest/storage tab, Kimchi does not send the correct volume size to the create storage volume task, causing it to fail and the user interface to hang.  Kimchi should enable creation of disks regardless of backend type.

Error:
[code]

UI:
![zfs-new-disk-bug](https://cloud.githubusercontent.com/assets/591536/15049431/43121958-12bc-11e6-9d79-fd57fa9273e7.PNG)

S

[2016-05-05 17:27] Truja opened #938 "Informe how long a guest is up and running"
Would be good to have this information in the guests tab: for each guest running, show, how long it is up.

[2016-05-05 17:46] Truja opened #939 "[UI] Guest tab is not rendered correctly if guests are not in 'running' or ''shutoff' state"
If you pause a guest and refresh the UI, guests tab will show the paused guest line with buttons in different places, without the 'actions' and will show the synchronization icon.

[2016-05-05 17:49] overcookedTOFU opened #940 "Enable listing and selection of storage devices in ZFS storage pools"
Kimchi does not properly list storage devices in zfs storage pools.  It should do so both on the "storage" tab and the template and guest tabs.  On the template and guest tabs, it should also enable the user to attach zfs storage devices to the guest.

See below for more info:

Storages Tab:
![zfs-disk-selection-bug2](https://cloud.githubusercontent.com/assets/591536/15051684/dcded2c8-12c7-11e6-8a

[2016-05-05 20:15] overcookedTOFU opened #941 "Maximum memory should increase when memory is increased"
When adding more memory to a guest, Kimchi should either automatically increase the maximum memory value or show the max memory value by default.

Currently, when a user tries to increase the memory available to a guest, it will report an error, as seen below:
![memory-bug2](https://cloud.githubusercontent.com/assets/591536/15055777/552175d8-12dc-11e6-9e73-233edcc94599.PNG)

The user must fix the

[2016-05-05 20:42] overcookedTOFU commented on #393
This is still an issue as of Kimchi 2.1.  @usernameisalreadytaken2014, do you still have that patch? I'd love to test it out!

[2016-05-06 02:20] overcookedTOFU opened #942 "When opening console, kimchi stops responding to user input"
On Ubuntu 16.04 when I open the console for any guest, the console hangs and the wokd error log spits out the error below.  While the console loads, it is extremely slow and occasionally does not respond to input.  The tab with the Kimchi-UI must be reloaded and login is requested once again.

[code]

[2016-05-06 02:39] overcookedTOFU opened #943 "When deleting guests, also delete attached storage devices on zfs storage pools"
Unlike other storage pool types, Kimchi does not properly delete the attached storage devices on zfs pools.  Instead, wok-errors shows that is unable to find the storage volume:

[code]

ZFS shows that the zvol storage devices have not been deleted:

[code]

See #869 for more information about zfs in Kimchi.

[2016-05-11 10:27] danielhb commented on #411
@tavoc recently opened the same issue in WoK (https://github.com/kimchi-project/wok/issues/113) and I asked him to join the discussion here.

I have updates about this too. As @clnperez said when she first opened this bug, this is a problem in a component Kimchi uses called noVNC (https://github.com/kanaka/noVNC). They have a bug opened about it in https://github.com/kanaka/noVNC/issues/21 for a w

[2016-05-11 20:01] AceBlade258 opened #944 "Use native remote client when available"
I would like to use the spice native client (virt-viewer) when connecting to guests through the kimchi console. The performance (in both local resource usage, and user experience) is dramatically improved with the use of the native client.

I don't see any reason to limit this to the spice protocol, however, because the virt-viewer application also supports VNC.

[2016-05-13 18:21] #201 closed

[2016-05-24 14:51] pvital commented on #845
@alinefm since we don't have any activity on this issue for more than 1.5 months, I guess you can close it.

[2016-05-24 17:40] sstoppler commented on #758
@chandrureddy -- would you mind retrying this?  I am not seeing this with the new UI.  Thanks!

[2016-05-24 18:28] sstoppler commented on #697
@abhiramkulkarni -- would you mind retrying this scenario?  With the new UI, when editing a guest that is in running state, 'cdrom' device type is no longer a storage device option.  Thanks!

[2016-05-24 19:00] sstoppler commented on #523
@alinefm - would you mind revisiting this w/the new UI?  I tried this scenario and it now looks like this with new UI and space has been taken advantage of:

![image](https://cloud.githubusercontent.com/assets/11432111/15516312/0ee4cc12-21a7-11e6-8e16-cffb7552cb64.png)

[2016-05-25 10:31] harche opened #945 "Unable to start wokd with kimchi (master branch) installed"
[code]

[2016-05-27 13:49] Styx13 opened #946 "Feature request: Change templates values at guest deployment time"
Hello,

I have been using Kimchi a lot those last 2 weeks, and for my current use case, I found out that even though templates are great, they do take more time and steps to get the guests created and running.

In my use case, I need to deploy 20 VMs which are using the same disk image (and the same CPU/Memory)
Each of those VMs need to be on a different network (VLAN and subnet).

Because of that

[2016-05-31 22:42] alanlaird commented on #845
@pvital Hi, Perhaps I have a different version of 7.2 or repos enabled.  Do you recall what you were testing on and what repos were enabled?

[2016-06-01 15:16] alinefm commented on #411
Hi @danielhb

Kimchi uses the standard novnc package provided by Linux distribution. So there is no way to make Kimchi uses it without having it included in a novnc package update.

Maybe we can try directly with the distribution: Fedora, Ubuntu... but I am not sure how it may happen.

[2016-06-01 15:51] danielhb commented on #411
Neither do I. The quickest route would be to get the fix accepted in upstream noVNC, then the distros would be getting it eventually. It would be extremely, enormously difficult to push the fix in the noVNC distribution of the distros without having it upstreamed in noVNC.

I actually think it's easier to try to push this kind of fix to upstream spice-html5 (which would include me learning a brand

[2016-06-01 15:54] alinefm commented on #945
I have seen this problem when libvirt service is not running and you tried to start wokd with Kimchi.
It was already fixed by 2293369000dcca176db632185a54354b4381bbbb
Please, reopen if the problem persists.

[2016-06-01 15:54] #945 closed

[2016-06-01 15:57] alinefm commented on #925
It was fixed by d707a6913ec7c5b10f61502344ce1c7de1f41571

[2016-06-01 15:57] #925 closed

[2016-06-01 16:06] alinefm commented on #927
Hi @romu70

We are currently working on Storage volume management interface.
It will be under Storage tab. When selecting a given storage pool it will list all the storage volumes.
Maybe you can get there the information you want as the storage volume API already returns which VMs use which disks.
Do you think it will be enough?

[2016-06-01 17:00] pvital commented on #576
It's working now with latest HEAD from github repository. Closing

[2016-06-01 17:00] #576 closed

[2016-06-01 18:06] alinefm commented on #942
Hi @overcookedTOFU

Are you trying VNC or Spice console? Or serial console?

[2016-06-01 18:18] alinefm commented on #946
Hi @Styx13

Thanks for your feedback! As you pointed it was already discussed in #349
My idea is to have a "Customize" section when creating a VM. So after selecting a Template, the user can change any other configuration before creating the VM.

Will that fits your matters?

I'd say to we keep only one issue open to track this only to centralize the information.
So close #349 or this one.

[2016-06-01 18:47] romu70 commented on #927
Yes, perfect @alinefm , thanks.

[2016-06-01 22:21] sstoppler opened #948 "Kimchi not throwing errors when migration is performed and gives impression of migration doesn't work"
Problem here is that the UI isn't forwarding the status of the migrate task. The status is being updated in the task but the user is not aware of it.

I have provoked an error by trying to migrate a VM with the same name in both source and destination. No UI error was shown but the task reported it:

[danielhb@louis ~]$ curl -k -u root -H "Content-Type: application/json" -H "Accept: application/js

[2016-06-02 02:12] alinefm commented on #522
This issue does not apply to the new UI so I will close it.

[2016-06-02 02:12] #522 closed

[2016-06-02 02:26] alinefm commented on #758
I could not reproduce that in the last months so I will close this issue by now.
Please, reopen it if the problem persists.

[2016-06-02 02:26] #758 closed

[2016-06-02 02:29] alinefm commented on #763
Seems it was fixed on some way as you can see below.

[alinefm@alinefm-TP440 ~]$ curl -u <user>:<wrong-password> -H "Content-Type: application/json" -H "Accept: application/json"  -k https://localhost:8001/plugins/ginger/network/cfginterfaces/eth0
<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-e

[2016-06-02 02:46] alinefm commented on #922
Hi @hanjiabao

Do you want to disabled HTTPS? And only access Kimchi using HTTP?
Why do you want to do that? HTTPS is properly configured for security matters.

[2016-06-02 13:50] Styx13 commented on #946
Hi @alinefm, I believe you meant #394.
I am closing this issue then and will follow up in #394

[2016-06-02 13:50] #946 closed

[2016-06-02 14:01] overcookedTOFU commented on #942
This is using VNC console.  For some reason it has stopped happening quite so frequently.  I now only occasionally encounter this issue.  If I am able to find any additional information, I'll let you know.

[2016-06-02 14:01] Styx13 commented on #394
Closed #946 as it request for the same feature as here.
Quoting @alinefm as her proposal seems to be the proper answer to this request.

[2016-06-02 14:44] samhenri commented on #948
I think somehow the migration and clone tasks are broken because when I've implemented Live Migration it was throwing errors for domains with the same name and the task for on going clone/migration guests are not showing anything for me. I'll take a look on this.

[2016-06-02 16:31] Styx13 opened #949 "Feature request: let user input a name when taking a snapshot"
The snapshot feature is very convenient to keep a "version" of a VM and be able to restore it when needed and I am glad that Kimchi allows to take snapshot and apply them from the GUI.

However, when taking a snapshot from the GUI, the name of the snapshot is auto-generated by kimchi (and seem to be the date in epoch time format) and does not let the user pick any name.
It would be great to let th

[2016-06-03 18:28] danielhb commented on #934
Patch sent to ML for review

[2016-06-03 21:15] #934 closed

[2016-06-04 12:14] danielhb commented on #944
Doing the .vv file to launch the virt-viewer is simple. A file with this content can do the job.  Save it as "launcher.vv" and if you have virt-viewer installed Gnome will automatically recognize this file as "Open with Remote Desktop ..."  in double click.

[code]

Now, we can't just point this file to the websocket Kimchi opens and hope it works. VNC uses RFB protocol, which runs in plain TCP.

[2016-06-05 02:38] laggarcia commented on #944
On 06/04/2016 09:14 AM, Daniel Henrique Barboza wrote:
<...>

I agree none of these options are user friendly.

What would be your suggestion here? Kimchi would create a fake page
running on its default HTTP server port and virt-viewer would connect to
that fake page? Then that fake page would just use websockify in order
to talk to the websocket Kimchi opens, which would redirect to the
localhost

[2016-06-05 03:00] laggarcia commented on #944
According to oVirt documentation, ports 5900-6923 must be opened on the hypervisor ("Remote guest console access via VNC and SPICE. These ports must be open to facilitate client access to virtual machines." --- source; http://www.ovirt.org/documentation/admin-guide/administration-guide/#Virtualization_Host_Firewall_Requirements1).

How difficult would it be for Kimchi to manage firewall rules? Or

[2016-06-05 19:08] danielhb commented on #944
On 06/05/2016 12:00 AM, Leonardo Garcia wrote:

Oh dear ...

Easiest solution would be to document that this feature, using virt-viewer
to access VMs, requires ports 5900-6923 to be opened up manually
by the user.

We can make Kimchi handle firewall rules, enabling rules for this
specific port range
when Kimchi starts and disabling it when Kimchi exits.  Does it solve the
problem? Not completely.

[2016-06-06 04:34] dikshant opened #950 "Allow an option to disable HTTPS"
I would be nice to have an option to completely disable ssl so that we could implement our own certificates using a separate reverse proxy.

[2016-06-06 16:38] danielhb commented on #944
I have good news about this feature. There's a virt-viewer option called "proxy" which receives a proxy URL to tunnel the connection. Kimchi already has such URL in place due to noVNC/spice-html5 connections. NGinx places it as http://<server>:8000/websockify

This is how I've tested it: I've used another computer, an Ubuntu 16.04 LTS, to connect into my laptop running Kimchi.  I've used the follo

[2016-06-06 16:46] danielhb commented on #944
Confirmed to work with Spice by just changing the line type=vnc to type=spice

[2016-06-06 16:54] sstoppler commented on #833
Patch applied upstream:  https://github.com/kimchi-project/kimchi/commit/c9ea5072bff5f87fd35c95d8e55c55d3e2a394d2

[2016-06-07 13:59] philled commented on #821
I installed using "sudo apt-get install kimchi" and made the changes to /lib/systemd/system/kimchi.service and /etc/pam.d/kichmi as recommended. But when I try to browse to kimchi from a remote PC no page comes up. I'm trying these URLs:

http://192.168.0.102:8000/
http://192.168.0.102:8001/
http://192.168.0.102:8010/
http2://192.168.0.102:8000/
http2://192.168.0.102:8001/
http2://192.168.0.102:80

[2016-06-08 13:40] philled opened #951 "Multiple failed attempts to install kimchi"
I've tried two approaches to installing kimchi on my Ubuntu 16.04 KVM server. One was to "sudo apt-get install kimchi" which installs hundreds of dependent packages, but at the end of it I couldn't connect to the kimchi web interface from a remote machine.

So I uninstalled all that and followed the instructions at https://github.com/kimchi-project/kimchi/wiki/Setup-script-for-Ubuntu-15.10 (which

[2016-06-08 13:46] sstoppler commented on #941
Patch has been applied upstream:  https://github.com/kimchi-project/kimchi/commit/5fe4a228b01b327ac30db72256341bc7c29e1572

[2016-06-08 18:04] ramonmedeiros commented on #950
Can't you add your certificates in nginx?

[2016-06-09 02:48] chenww commented on #951
I have been struggling with this too for a few days, and none of them working for 16.04. This project even can not have a decent install process that works...

[2016-06-09 05:12] philled commented on #951
Yes, it's a disappointment because I was really looking forward to getting kimchi up and running, but installation is proving very difficult. I'm glad (sorry!) it's not just me - I thought maybe I was just being dumb, but it's obviously not a straightforward process.
If anyone has had success on Ubuntu 16.04 we'd love to hear from you.

[2016-06-09 05:15] philled opened #952 "Does kimchi have to run on the KVM host?"
I have been having massive difficulties getting kimchi running on my Ubuntu 16.04 KVM host. I end up in dependency hell and it's so bad I'm probably going to wipe the host and re-install from the O/S up.

Is it possible to run kimchi on a guest virtual machine in the host, or does it have to be running on the KVM host itself? I could create a VM and try to get kimchi running on that and it wouldn'

[2016-06-09 12:07] alinefm commented on #927
Patches related to storage volume management applied upstream: c9ea5072bff5f87fd35c95d8e55c55d3e2a394d2

@romu70 any feedback is more than welcome.

I will close this issue by now as the solution available should fit your needs.

[2016-06-09 12:07] #927 closed

[2016-06-09 12:18] romu70 commented on #927
Perfect, thanks a lot.

[2016-06-09 12:56] alinefm opened #953 "Text box in migrate a guest dialog window is not sensitive to keyboard clicks"
In Kimchi when Actions button is clicked and Migrate option is selected for a particular guest, dialog box window opens for getting migration input.

Text box that gets input for Remote server, user and password are not sensitive to take the keyboard clicks at one time.

I have tried and observed many times that some text are missed when we type fast and we have to click 2 or 3 times for a letter

[2016-06-09 13:02] pvital commented on #952
@philled you need set nested virtualization on the host machine and then you can use Kimchi in the VM, as a second host.

Just pay attention about the virtual network in the VM to get it running you need change some ranges. See how to do this here: https://pvital.wordpress.com/2015/09/18/nested-virtualization-and-the-network-issue/

[2016-06-09 13:09] alinefm opened #954 "Disable ISOs with wrong permission and add mouse hover message"
Kimchi will not change any permission in the filesystem as it is so invasive.
You should go through the instructions reported by the error message to fix the file permissions.

Kimchi will not filter out those files because it may get the user confused.
("I know there is a ISO under /tmp why Kimchi is not displaying it")

The idea is always display all ISOs found but disable those with wrong permi

[2016-06-09 16:46] pvital commented on #951
@philled I just tested in a VM with a fresh Ubuntu-16.04 installation and I could install all packages and dependencies using apt-get.

Some important points to pay attention are:

* The packages provided by Ubuntu repositories are not supported by Kimchi-Project community (actually, searching by kimchi on http://packages.ubuntu.com/ I see that the version is 1.5.0 - http://miud.in/1HDu );
* It's

[2016-06-09 18:17] Truja opened #955 "UI - Change PCI devices order: attached devices should be shown on top"
I was trying PCI passthrough and noticed that after attach the device and refresh the window, the devices attached are showed with the green icon (ok), but in the bottom of the list.

This got me confused because I could not find the device at a first look.
I believe the user experience will be improved if Kimchi shows all passthrough'ed devices always on top of list.

[2016-06-09 18:58] chenww commented on #951
@pvital I just tried use your apt-get on both Ubuntu 15 and 16 but still failed at:
# apt-get install ./wok-2.1.0-0.noarch.deb
....
E: Release 'wok-2.1.0-0.noarch.deb' for 'java5-sdk-headless' was not found
E: Release 'wok-2.1.0-0.noarch.deb' for 'java6-sdk-headless' was not found
E: Release 'wok-2.1.0-0.noarch.deb' for 'java7-sdk-headless' was not found
E: Release 'wok-2.1.0-0.noarch.deb' for 'ja

[2016-06-09 19:35] sstoppler opened #956 "Unable to assign pci passthrough devices through kimchi"
Issue:
Nothing happens when clicking on the little icon beside any of the pci adapters when trying to add to a guest

Notes from @Truja
PCI Passthrough has changed in Kimchi backend, it uses async tasks now to attach (POST request) and detach (DELETE request) and UI did not follow this change.

UI must be fixed to retrieve information from the task.
Also would be good to add a 'loading' icon while

[2016-06-09 19:59] pvital commented on #951
@chenww you're right, the command "apt-get install ./*.deb" not works in general. In Ubuntu 16.04 during my test, the name of the files were changed by the name of the packages, and were installed. I have a Ubuntu 16.04 with Wok, GingerBase and Kimchi installed from the packages downloaded from http://kimchi-project.github.io/ , you believe or not.

The second way I posted (have you tried it?) is

[2016-06-09 20:25] chenww commented on #951
@pvital Finally I got everything installed on Ubuntu 16.04; 15.10 does not work well. I think I might use an VM not fully clean. I still use your first approach though, and at the end wokd is not in good state. Here is the status:

~# service wokd status
● wokd.service - Wok - Webserver Originated from Kimchi
   Loaded: loaded (/lib/systemd/system/wokd.service; enabled; vendor preset: enabled)
  D

[2016-06-10 13:26] pvital commented on #951
@chenww please paste the output of "systemctl -l status wokd.service" and the end of the wok log file (/var/log/wok/wok-error.log) to see better whats going on.

Also, if you're running wok in a VM, check the virtual network configuration of libvirt on the VM. See my comment on https://github.com/kimchi-project/kimchi/issues/952 to know how to do this.

[2016-06-13 08:42] chandrureddy opened #957 "Latest Kimchi installation failed to bring up wok with error "could not find capabilities for arch=x86_64 domaintype=kvm ""
Environment:
[root@localhost wok]# uname -a
Linux localhost.localdomain 4.4.9-300.fc23.x86_64 #1 SMP Wed May 4 23:56:27 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
[root@localhost wok]# cat /etc/system-release
Fedora release 23 (Twenty Three)
[root@localhost wok]# virsh capabilities | grep x86
      <arch>x86_64</arch>
    <arch name='x86_64'>
      <emulator>/usr/bin/qemu-system-x86_64</emulator>

[r

[2016-06-13 16:17] samhenri commented on #954
Is there a mechanism to know if the ISO has wrong permission?

[2016-06-14 19:14] jamesrascal opened #958 "Ubuntu - No Virtualization Tab or Kimchi displayed in Wok"
I have followed all the docs but can't seem to get Kimchi to load into Wok. Wok runs just fine but I don't get a tab for virtualization.

[2016-06-14 20:08] pvital commented on #958
Hello @jamesrascal
What's your Ubuntu version? Can you paste the output of /var/log/wok/wok-error.log to try to see what's going on?

[2016-06-14 20:12] jamesrascal commented on #958
I am attempting to replicate this on a new build now. I will post results once its done.

[2016-06-14 20:21] jamesrascal commented on #958
I am closing this issue as problems are resolved after complete rebuild and following the install script https://github.com/kimchi-project/kimchi/wiki/Setup-script-for-Ubuntu-15.10

[2016-06-14 20:21] #958 closed

[2016-06-14 20:31] pvital opened #959 "Unexpected error when unauthorized https path tried under Filepath while creating Template."
When provided a URL like "https:xxx.xx" which user don't have authorization to access while trying to create template its throwing  an exception error.

Steps to reproduce:
1.  Login to host Wok using browser
2.  Navigate to Virtualization tab and click on Templates tab
3.  On Right side click on + icon to add a new template
4.  Add Template window pops up on the screen
5.  Try to give incorrect p

[2016-06-14 20:32] pvital commented on #959
Tracelog of exception is:

[code]

[2016-06-14 22:30] pvital commented on #959
Patch submitted to ML

[2016-06-16 07:31] hanjiabao commented on #922
boos ask to do this，and it has been done already

[2016-06-16 08:40] derdigge opened #960 "build proces of Kimchi fails on clean Debian Jessie"
Followed instructions from here:

https://github.com/kimchi-project/kimchi/blob/master/docs/ubuntu-deps.md

It dies during make:
xsltproc -o ja_JP/guests.html dita-help.xsl ja_JP/guests.dita
ja_JP/guests.dita:4: warning: failed to load external entity "-//IBM//DTD DITA CSHelp//EN"
 "..\dtd\cshelp.dtd">

My full console log:
http://pastebin.com/gve86Ayi

as you can see wok and other stuff is instal

[2016-06-16 12:05] pvital commented on #960
Hi @derdigge. One curiosity, why didn't you downloaded the kimchi deb file as you for wok and gingerbase? You can get the same version at http://bit.ly/get_kimchi

[2016-06-16 12:32] derdigge commented on #960
Thanks for your reply!

i didnt know that site :) just cloned from github and read the doc.
installing as deb works for debian 8 but not for linux mint 17
anyway this solved my issue.

Thanks.

[2016-06-16 12:32] #960 closed

[2016-06-16 13:07] derdigge opened #961 "Debian 8, installation from deb systemd cant start kimchi"
Hello!

After solving my brain error, i was able to install kimchi onto my Debian8 Testbox.
I am not able to start with following (helpful) error. (i hate systemd by the way :)

I fixed allready that "wrong service bug" in
/etc/systemd/system/wokd.service.d/kimchi.conf

`[Unit]
Requires=libvirtd.service wokd.service
After=libvirtd.service wokd.service

[Service]
Nice=0
PrivateTmp=yes`

service lib

[2016-06-16 14:54] pvital commented on #961
@derdigge the problem is because the name of libvirt service in Ubuntu, that is libvirt-bin.service instead of libvirtd.service, and we officially release the package only to Ubuntu, not Debian.

Regarding the service, since version 2.0.0 Kimchi is a plugin of Wok, and we must start **only** wokd.service to get all plugins (Kimchi, GingerBase and Ginger) running:

[code]

[2016-06-16 15:01] pvital commented on #922
@hanjiabao would be nice if you share with us how did you do that.

[2016-06-16 15:36] derdigge commented on #961
Thanks for Your reply. I allready googled that. But anyway there is still no connection aviable with my browser. Check this out please:

`root@gunter:~# sudo systemctl stop wokd.service

root@gunter:~# sudo systemctl start wokd.service

root@gunter:~# sudo systemctl -l status wokd.service

● wokd.service - Wok - Webserver Originated from Kimchi
   Loaded: loaded (/lib/systemd/system/wokd.service;

[2016-06-16 16:18] pvital commented on #961
The "502 Bad Gateway" error happens when nginx was started but cherrypy was not fully loaded yet.

Please, pastebin the output of /var/log/wok/wok-error.log or the output of the following command:

[code]

You know that everything is OK when using the above command you see the message "ENGINE Bus STARTED" outputted.

[2016-06-16 16:24] pvital commented on #961
One more thing, did you checked the firewall and selinux?

https://github.com/kimchi-project/wok/blob/master/docs/troubleshooting.md

[2016-06-16 16:25] derdigge commented on #961
That pointed it out :)

i need to stop wok, restart libvirt and then start WOK in this order it worked now....(see the interface)

[2016-06-16 16:28] pvital commented on #961
@derdigge wonderful :-D

[2016-06-16 17:01] #961 closed

[2016-06-17 17:54] ramonmedeiros opened #962 "Suggestion to check spec guidelines"
Hi,

there is a spec checker called rpmlint, that runs with a passed spec, package or installed package and check if the rpm is correct built. We can add it to the check-local macro

[2016-06-17 17:56] alinefm commented on #954
HI @samhenri

Yeap! You can check the storage volume information:

{
    "allocation":536875008,
    "isvalid":true,
    "capacity":536870912,
    "name":"test-volume-clone-3",
    "format":"raw",
    "has_permission":false,
    "path":"/home/alinefm/images/test-volume-clone-3",
    "used_by":[],
    "type":"file"
  }

The 'has_permission' parameter.

[2016-06-17 19:31] samhenri commented on #921
I can send a patch to fix the missing drop-down button, HOWEVER, if the user remains on a Wok tab or a Ginger tab, the browser JavaScript console will throw an error message saying that kimchi is not defined, as kimchi.min.js and ginger and gingerbase js files are only loaded when one of these plugins is active.
My recommendation is to move the peers function and API to Wok or move to a panel inst

[2016-06-17 20:39] chenww commented on #951
@pvital Sorry I just recover my crashed system and finally get back online. Here is the info you asked:

it is caused by nested VM as telling from wok log. However, this seems a little awkward. kimchi is a just a management tool which not necessary installed on hypervisor, so it should not ask for virtualization capability. Am I wrong here?

thanks

[2016-06-19 13:51] rafaelsoaresbr commented on #957
Try this solution: http://kashyapc.com/2012/01/14/nested-virtualization-with-kvm-intel/
#813

[2016-06-19 21:10] rafaelsoaresbr opened #963 "Exception in thread KimchiLibvirtEventLoop"
Trying to get kimchi running on Arch Linux (VBox Machine):
[code]

Linux arch-vbox 4.6.2-1-ARCH #1 SMP PREEMPT Wed Jun 8 08:40:59 CEST 2016 x86_64 GNU/Linux

I'm geting the following errors when starting wok up:

[code]

● wokd.service - Wok - Webserver Originated from Kimchi
   Loaded: loaded (/usr/lib/systemd/system/wokd.service; disabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/

[2016-06-20 12:51] pvital commented on #963
Hi @rafaelsoaresbr

Nice you are trying to run Wok and Kimchi in Arch Linux. I have never saw any try on this distro. Could you provide us more info about your environment: distro version, libvirt version, wok and kimchi version, how did you installed wok and kimchi.

Also, can you pastebin the output of the command "/usr/bin/wokd --environment=dev" or the content of the /var/log/wok/wok-error.log

[2016-06-20 16:52] pvital commented on #963
@rafaelsoaresbr looks like you are facing the same issue reported in #813. Can you check the solution provided there and reply here with a solution for ArchLinux?

[2016-06-20 16:54] pvital commented on #951
@chenww looks like the output was not pasted.

[2016-06-20 17:52] sstoppler commented on #372
Patch sent to ML for review on 6/13.

[2016-06-21 11:58] rafaelsoaresbr opened #964 "Installing from source on Arch Linux gives 'Nothing matches the given URI'"
Hello guys, I'm trying to install/run kimchi on Arch Linux.

I've compiled wok, ginger-base, ginger and kimchi from source with the following:

[code]

[code]

   Loaded: loaded (/usr/lib/systemd/system/wokd.service; disabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/wokd.service.d
           └─ginger.conf, kimchi.conf
   Active: active (running) since Tue 2016-06-21 03:28:44 AMT; 1

[2016-06-21 12:00] rafaelsoaresbr commented on #963
@pvital Ok, I've been installing kimchi on a real machine, if necessary I'll be back here. Please take a look at #964

[2016-06-21 12:00] #963 closed

[2016-06-21 12:21] pvital commented on #964
Hi @rafaelsoaresbr

Can you pastebin the content of /var/log/wok/wok-error.log, please?
Have you got this error, just after enter the URL, or you could see (and logged in) the login page?

[2016-06-21 12:52] rafaelsoaresbr commented on #964
Hum, seens like I'm missing some dependencies:
This error appear just after hitting enter on the address bar.
http://pastebin.com/ZXa1Aapg

[2016-06-21 13:48] rafaelsoaresbr commented on #964
Ok, it's running now, I had to start virtlogd.service.
But the same error appear on browser, any clues?

wok-error.log:
http://pastebin.com/YxHYcQrR

[2016-06-21 17:56] pvital commented on #964
Let's do two things. First, please check firewall and selinux blocks - https://github.com/kimchi-project/wok/blob/master/docs/troubleshooting.md

Then, let's try to capture the exactly URI you are trying to access. Start the server in development mode and then pastebin the output of the console after you try to access https://<ip>:8001

[code]

[2016-06-21 18:15] rafaelsoaresbr commented on #964
[code]

libvirt: Storage Driver error : Storage pool not found: no storage pool with matching name 'FEATURETEST_POOL'

*** Kimchi: Running feature tests ***
Service Libvirtd running ...: True
libvirt:  error : Cannot find '' in path: No such file or directory
Cannot find '' in path: No such file or directory
NFS Target Probe support ...: False
Fibre Channel Host support .: True
Kernel VFIO support

[2016-06-21 19:11] alinefm commented on #964
Seems it is duplicated of https://github.com/kimchi-project/wok/issues/138

Please, update it to the current master branch which includes https://github.com/kimchi-project/wok/commit/0e57dfe9ebfdad518bb86c464f620b0de942e51d

[2016-06-21 19:11] #964 closed

[2016-06-21 20:14] pvital opened #965 "Fedora 24 iso image not recognized by IsoImage."
Fedora 24 was released today, 21 June 2016, and when trying to create a new Template based on this version, IsoImage did not recognized distro and version.

![screenshot from 2016-06-21 16-37-48](https://cloud.githubusercontent.com/assets/699330/16244578/15496b84-37d3-11e6-9afd-bb67a932f6d6.png)

[code]

[2016-06-22 14:22] pvital commented on #959
Fixed.

[2016-06-22 14:22] #959 closed

[2016-06-22 22:35] milljm commented on #951
@pvital Trying to follow your instructions for method 2. Apologies for lengthy post.

[code]
Browsing to localhost:8001, we get a "502 Bad Gateway nginx/1.10.0 (Ubuntu)"

Why? Because:
[code]
I appears nginx didn't start the proxy as specified in the conf.d/wok.conf. So lets try to do that manually. But first... what does `systemctl -l status wokd.service` report?

[code]

Looks good to me... Lets

[2016-06-23 11:49] pvital commented on #951
@milljm nice debugging :-)

Today, wokd starts it's own instance of nginx using a configuration file created in wokd start process and stored in /etc/nginx/conf.d directory. This is creating an incompatibility with the nginx service managed by systemd.

Try to stop the nginx service (systemctl stop nginx.service) and start again wokd.

[2016-06-23 17:26] sstoppler opened #966 "Change mouse pointer to "loading"/"thinking" in each request or user action"
New Kimchi/Wok/Ginger interface does not allow user to know what is going on in some interactions, like passthrough.
If user clicks on some button to perform some action, or open some modal window,  there is no way to know if something is happening.
In interactions where UI is waiting request response from backend, there should be an indication of that.

Feedback is that in previous version it was

[2016-06-23 17:56] milljm commented on #951
@pvital Thanks! I hope I didn't come across as rude in any of my debugging. I tend to write my posts as I speak to my machine out loud =D

Back to troubleshooting. Starting over because I've rather become an expert at uninstalling it...
[code]

And now to reinstall _up to_ Wok. I'll detail why next
[code]
Is that proxy connection functioning?

[code]
Excellent! Now lets kill the nginx service, and

[2016-06-23 18:08] samhenri commented on #966
I think we can tackle this with a change in wok.requestJSON that should apply to every asynchronous request however I think we should keep the "pointer" cursor for links and buttons. It would also make cursor change every second from 'auto' style to 'progress' in Guests when the VMs are refreshing and with the notifications.

[2016-06-23 18:32] pvital commented on #951
@milljm I was not kidding about the debugging you did - I really liked :-)

Interesting that a reboot solved your problem. This is definitely not the correct way to solve things in a Linux box.

[2016-06-23 19:19] milljm commented on #951
@pvital I agree, odd a reboot would solve that specific issue. I am just going to chalk this up as _something else_ was causing Kimchi not to function.

A little off topic; In the past, I was running into the same issues as the OP. So coming across your installation instructions is a boon. Had I rebooted the machine after performing the update as apt-get instructed, and _then_ follow your installa

[2016-06-23 19:20] samhenri commented on #953
Sent patch to mailing list with #948, let me know if it works.

[2016-06-24 08:28] derdigge opened #967 "Pointer is mismatching on win_10 and win2012 server with spice and vnc"
Dear Mr. Kimchi ;)

I am facing following issue when handling windows guests. The Mouse Pointer position is mismatching and its hard to hit the buttons. This is very annoying during installation and makes it hard.

I found this one:
https://github.com/kanaka/noVNC/issues/131

They are facing this issue with:
--usbdevice tablet

I really like the simplicity of kimchi and don't want to drive a full

[2016-06-24 12:23] danielhb commented on #967
@derdigge thanks for reporting this issue. We can try to fix it in noVNC side, although there is a fix of ours (https://github.com/kanaka/noVNC/pull/596) sent April 11th that they are yet to accept. There's no guarantee of whether they will accept or when. So we can't realistic expect a quick fix from their side, even if we help.

Have you tried using Spice instead of noVNC to connect to this WInd

[2016-06-24 12:42] derdigge commented on #967
Hi and Thanks for that hint.

It does not matter if i use spice or vnc. What works, is using a local spice client (instead of the Browser one) because it catches your mouse pointer. You need to move the mouse much farer than on You normal Desktop but it does.

No idea if that behavior is same for linux guests?

[2016-06-24 14:31] danielhb commented on #967
This behavior tends do vary between guest OS. I experience lots of mouse pointer problems with Opensuse guests, but Fedora and Ubuntu usually works fine.

The feature I've mentioned would give the choice to use the local spice/vnc client without having to setup it manually. You download a launch script and then double-click it, virt-viewer (Remote Desktop Viewer or whatever default VNC/Spice deskt

[2016-06-25 08:41] derdigge commented on #828
is there a way? editing a file or so to allready change bootorder?

[2016-06-27 13:33] samhenri commented on #948
Patch sent to ML last week but it requires a patch sent for Wok Messages applied first.

[2016-06-27 22:13] sstoppler opened #968 "Kimchi is searching for 'undefined' VM"
I was changing between GUESTS and TEMPLATES tabs quickly.

Suddenly I received this error message:
KCHVM0002E: A máquina virtual undefined não existe    -->>   ("Guest undefined does not exist")
from request: "GET /plugins/kimchi/vms/undefined/hostdevs HTTP/1.0" 404 513 "https://kop5:8001/"

Then I see in firebug log, right after the request, that kimchi.guestElem is undefined error, from:
 kimchi

[2016-06-28 20:50] sstoppler opened #969 "Error message showing up in parent panel rather than modal window in Add Storage"
How to reproduce:
1.  Click on Add a Storage, enter any invalid info and click on Create button.

Outcome:
Error shows on parent panel, not add storage panel although the error does not disappear on its own which is now the intent.

[2016-06-28 21:09] sstoppler opened #970 "ISOs that do not have proper permission is still being allowed to be used when creating a template"
In testing patch from Peter - Disable ISOs templates with wrong permission, I came across the problem.  Regardless of the patch being applied, I was able to create a template in the UI.

Steps:
1. Click on Add Template.
2. Click on Search more ISOs button - this shows ISOs on my HD
3. Without the patch, I am able to create a template and create a guest based on that template.
    With the patch, t